<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">
                    Tiyeni Newsletter - August 2017
                </div>
                <div class="column has-text-right newsletter-branding">
                    Tiyeni Malawi
                </div>
            </div>
        </div>
        <div>

            <logo class="has-text-primary" />

            <h3>Promoting Sustainable Farming in Malawi</h3>

            <p><strong>The Deep Bed Farming Method</strong> - More than 3,500 smallholder farmers are now practicing the Deep Bed farming method to harvest more yield, control soil erosion and harvest water mainly in the northern and central regions of Malawi. In a recent study on adoption of the Deep Bed method, over 87% of farmers practicing the method were motivated by increased crop yields, with over 90% of them experiencing doubled yields (Albert, 2017, unpublished). In the same study, 10% of the farmers interviewed said the Deep Bed method of farming takes up more land, implying that plant density is low. This edition aims to answers the following two questions: a) <span class="has-text-info">Does Deep Bed method of farming use more land for cultivation as compared to conventional ridge method?</span> b) <span class="has-text-info">Of the two, which farming method gives the farmer more yield?</span> Let us begin by understanding the plant spacing and plant population per hectare under the Deep Bed method, with maize as an example.</p>

            <p>Based on Fig. 1, the recommended spacing for maize is 75cm between planting lines and 25cm between plant stations, which gives a total plant population of 53,333 plants per hectare when 1 seed is planted per station. This population density is the same under conservation agriculture (CA) or pit planting. Under conventional ridge however, lower plant densities (44,444 plants/ha) are attained because most farmers plant on ridges spaced at 90cm apart, and loose about 20% maize plants</p>                                    
            <figure>
                <img src="/img/newsletters/2017/august/1.jpg" />
                <figcaption>Fig. 1: Cross-sectional view of the Deep Beds</figcaption>
            </figure>

            <p>The Deep Beds have a top width of 100cm and furrow  spacing of 50cm and furrow base of about 40cm. When planting maize on the beds, planting rows are spaced at 75cm apart leaving on each side of the bed 12.5cm. When you add the 50cm furrow distance, and 12.5cm on the bed side and 12.5cm on the next bed the total distance between maize plant row on this bed and the next is 75cm. This proves that the Deep Bed farming does not waste land for cultivation.</p>

            <figure>
                <img src="/img/newsletters/2017/august/2.jpg" />
                <figcaption>Under Deep Beds, 53,333 maize plants/ha is achieved.</figcaption>
            </figure>

            <p>The other way to confirm that land is not wasted under the Deep Bed method is to consider the number of planting rows per 100m. A 100m x 100m field will have 67 beds and 134 planting rows spaced at 75cm planted to maize. This gives 24 extra rows over conventional ridges which has only 111 ridges spaced at 90cm for  the same area and 111 rows for planting maize. On  1ha there are 66 furrows under the Deep Bed farming  while there are 110 furrows under conventional ridge  farming. This means that land is productively utilized  under the Deep Bed method. <span class="has-text-info">Does Deep Bed farming give the farmer more yield  than conversional ridge farming?</span></p>

            <figure>
                <img src="/img/newsletters/2017/august/3.jpg" />
                <figcaption>Mr. &amp; Mrs. Mickson Soko with Deep Bed farming harvest. - Photo by GK</figcaption>
            </figure>

            <p>Evidence has shown that Deep Bed farming produces more yield than conventional ridge farming. Since Deep Bed farming incorporates other good husbandry practices like breaking the hard pan, conserving soil and water, applying compost manure, and yields of up to 10tones per hectare for hybrid maize<sup>1</sup> can be attained by subsistence farmers (Guide to Agricultural Production and Natural Resources Management in Malawi, 2012). A comparison of yields was done on 10m x 10m plots in 34 sites in Mzimba North DAO of Mzuzu ADD. Participating farmers established two 100m2 plots, one under the Deep Bed and the other under the conventional ridge method, adjacent to each other. The same treatments (seed, planting date, manure and fertilizer application, weeding time, harvesting time) were applied except breaking the hard pan and harvesting water in furrows which were note done under ridge farming. The yield results are presented in Table 1 and clearly show the differences. The yield from plots under Deep Bed farming have an average of 6.47 tones per hectare compared to 4.22tones per hectare under conventional ridge farming.</p>

            <figure>
                <figcaption>Table 1. Yield (Kg) comparison under D/Beds &amp; Ridges</figcaption>
                <table class="table is-bordered"> <thead> <tr> <th> Centre </th> <th> Farmer Name </th> <th> Yield D/Beds </th> <th> Yield on Ridges </th> </tr> </thead> <tbody> <tr> <td> Chigwere </td> <td> Lucia Kanyika </td> <td> 80.00 </td> <td> 30.00 </td> </tr> <tr> <td> Chikwina </td> <td> Grace Phiri </td> <td> 59.00 </td> <td> 60.00 </td> </tr> <tr> <td> &nbsp; </td> <td> Leah Mhone </td> <td> 60.00 </td> <td> 35.40 </td> </tr> <tr> <td> Njiri </td> <td> Dorcus Mhone </td> <td> 85.30 </td> <td> 43.60 </td> </tr> <tr> <td> Mgonapasi </td> <td> Modester Msuku </td> <td> 81.20 </td> <td> 49.70 </td> </tr> <tr> <td> Msipazi </td> <td> Funny Nyirenda </td> <td> 72.10 </td> <td> 42.00 </td> </tr> <tr> <td> &nbsp; </td> <td> Hudson Kasinya </td> <td> 55.30 </td> <td> 25.80 </td> </tr> <tr> <td> Kadikechi </td> <td> Faith Mguntha </td> <td> 65.30 </td> <td> 30.20 </td> </tr> <tr> <td> Lusangazi </td> <td> Allan Mhone </td> <td> 30.00 </td> <td> 20.70 </td> </tr> <tr> <td> Matuli </td> <td> Evess Chima </td> <td> 62.30 </td> <td> 39.20 </td> </tr> <tr> <td> &nbsp; </td> <td> Geoffrey Thegha </td> <td> 66.50 </td> <td> 34.10 </td> </tr> <tr> <td> &nbsp; </td> <td> Esther Zgambo </td> <td> 67.80 </td> <td> 37.60 </td> </tr> <tr> <td> &nbsp; </td> <td> Darson Nyirongo </td> <td> 67.80 </td> <td> 38.20 </td> </tr> <tr> <td> Phutula </td> <td> Fwasani Mbeya </td> <td> 59.50 </td> <td> 31.30 </td> </tr> <tr> <td> Chimbongondo </td> <td> Ukani Chitaya </td> <td> 64.20 </td> <td> 29.20 </td> </tr> <tr> <td> Ehlekweni </td> <td> Alnord Soko </td> <td> 70.50 </td> <td> 43.80 </td> </tr> <tr> <td> &nbsp; </td> <td> Elizabeth Gondwe </td> <td> 68.90 </td> <td> 33.50 </td> </tr> <tr> <td> &nbsp; </td> <td> Margret Ngala </td> <td> 60.40 </td> <td> 35.10 </td> </tr> <tr> <td> &nbsp; </td> <td> Standwel Soko </td> <td> 61.10 </td> <td> 45.80 </td> </tr> <tr> <td> &nbsp; </td> <td> Andrice Soko </td> <td> 50.20 </td> <td> 30.10 </td> </tr> <tr> <td> Ngulube </td> <td> Aaron Nkhata </td> <td> 71.20 </td> <td> 71.10 </td> </tr> <tr> <td> &nbsp; </td> <td> Jailos Ngulube </td> <td> 56.30 </td> <td> 34.20 </td> </tr> <tr> <td> &nbsp; </td> <td> Moses Ngulube </td> <td> 69.40 </td> <td> 50.50 </td> </tr> <tr> <td> &nbsp; </td> <td> Iris Gwayi </td> <td> 59.10 </td> <td> 60.90 </td> </tr> <tr> <td> Makula </td> <td> Bernadette Jere </td> <td> 60.40 </td> <td> 37.60 </td> </tr> <tr> <td> &nbsp; </td> <td> Sankhani Longwe </td> <td> 55.00 </td> <td> 44.30 </td> </tr> <tr> <td> &nbsp; </td> <td> Chrissie Longwe </td> <td> 79.50 </td> <td> 61.40 </td> </tr> <tr> <td> &nbsp; </td> <td> VH Makula </td> <td> 40.50 </td> <td> 22.70 </td> </tr> <tr> <td> Kadambo </td> <td> Chiza Jere </td> <td> 80.50 </td> <td> 53.30 </td> </tr> <tr> <td> &nbsp; </td> <td> Francis Mtegha </td> <td> 65.70 </td> <td> 44.40 </td> </tr> <tr> <td> &nbsp; </td> <td> Shalon Luhanga </td> <td> 57.40 </td> <td> 49.30 </td> </tr> <tr> <td> Efelanja </td> <td> Steve Gondwe </td> <td> 74.90 </td> <td> 80.20 </td> </tr> <tr> <td> Msiki </td> <td> Demo garden </td> <td> 65.70 </td> <td> 37.40 </td> </tr> <tr> <td> Mtwalo </td> <td> Demo garden </td> <td> 76.80 </td> <td> 52.20 </td> </tr> <tr> <td> &nbsp; </td> <td> <strong>Total Yield (Kg)</strong> </td> <td> <strong>2,199.80</strong> </td> <td> <strong>1,434.80</strong> </td> </tr> <tr> <td> &nbsp; </td> <td> <strong>Average (N = 34)</strong> </td> <td> <strong>64.70</strong> </td> <td> <strong>42.20</strong> </td> </tr> </tbody> </table>
            </figure>

        </div>

        <p><sup>1</sup> DK8053 hybrid variety with potential yield of 10 tones per hectare under farmer condition.</p>
        <p>Authored by: <router-link to="/people/godrey-kumwenda">Godfrey Kumwenda</router-link> &amp; <router-link to="/people/isaac-monjo-chavula">Isaac Chavula</router-link>.</p>
        <p>Graphic design by: <router-link to="/people/isaac-monjo-chavula">Isaac Chavula</router-link></p>

        <hr>

        <h3>Download PDF</h3>
        <a href="/static/newsletters/newsletter-2017-august.pdf" target="_blank">
            <span class="icon is-medium has-text-danger">
                <fa-icon :icon="['fas', 'file-pdf']" size="2x" />
            </span>
            <span class="icon-span-medium">
                Newsletter - August 2017
            </span>
        </a>

    </div>
</template>
