<template>
    <div class="newsletter content">

        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">
                    Tiyeni Newsletter - September 2017
                </div>
                <div class="column has-text-right newsletter-branding">
                    The Tiyeni Fund
                </div>
            </div>
        </div>

        <div>

            <h1>Supporter Newsletter</h1>

            <hr>

            <p>Welcome to our email bulletin. My name is Godfrey Kumwenda and I am Tiyeni's Training Manager.</p>

            <p>Our staff have now trained over 3,500 farmers in the Deep Bed method and in addition another estimated 1,700 farmers have spontaneously adopted it with no input from Tiyeni - just by learning from their neighbours.  In July, a further 1,600 farmers approached Tiyeni for training.</p>

            <h3>The Deep Bed Farming Method – A life changer</h3>

            <p>This year we were keen to find out what would happen if research was carried out through a series of interviews with farmers by an independent expert (Albert Mvula, 2017 - unpublished).</p>

            <p>Some of the big questions were:-</p>

            <ol>
                <li>Did the Deep Bed Method produce higher yields than the traditional methods?</li>
                <li>Why have adopting farmers not spread the Deep Bed Method to all their land?</li>
                <li>Why had neighbouring farmers not taken up the Method?</li>
            </ol>

            <figure class="image">
                <img src="/img/newsletters/2017/september/1.jpg" />
                <figcaption>Produce being stored in a granary.</figcaption>
            </figure>

            <h3>Results</h3>

            <ul>
                <li>Over 87% of the farmers questioned stated that they were motivated to adopt the Method because of increased yields. </li>
                <li>Over 90% stated that their yields had doubled and in some cases had increased by as much as three times. </li>
            </ul>

            <p>This was no surprise to our staff who have been involved in the development of this life changing technology.  However, it was also of great interest to find out why around 10% of farmers had not been motivated to adopt the Method.  The answers from independent research revealed  startling misconceptions about the Deep Bed Method; These few farmers felt that it involved too much work and that it produced less plants per acre.  Clearly, Tiyeni needed to strengthen its message because both statements indicated that some farmers had seriously misunderstood the Deep Bed method.</p>

            <p><strong>Fact check:</strong> The Deep Bed Method does involve more work in the first year, and this is where the confusion has arisen.  After that first year when the hard pan is broken up and the contour ridges and other elements of the Deep Bed Method are formed, there is no more digging for many years.  It is actually far less work for farmers to do in the subsequent years!  You can imagine how surprised and delighted these farmers were when this was explained to them.  No surprise for the staff of course, because which farmer would not be delighted to do less work for greater crop yields!</p>

            <figure class="image">
                <img src="/img/newsletters/2017/september/2.jpg" />
                <figcaption>Under Deep Beds, 53,333 maize plants/ha is achieved.</figcaption>
            </figure>

            <p>Below is a cross section of a typical Deep Bed.  These beds are not just deeper than traditional ridges but are much wider.  This allows more plants per acre – indeed 22,000 plants per acre instead of 18,000!  In a hectare of 100m x 100m the Deep Beds will support 134 planting rows instead of 111 rows on the traditional ridges.</p>

            <figure class="image">
                <img src="/img/newsletters/2017/september/3.jpg" />
            </figure>

            <ul>
                <li>72% of current Tiyeni farmers intended to spread the method to the rest of their land.</li>
            </ul>

            <p>That small percentage of farmers that did not intend to increase acreage adopted either had family sickness or said that it was too much work or supported fewer plants.  In fact, it came as a complete surprise to hear that some 1,700 farmers had adopted the method with no input or contact at all with Tiyeni staff.  In effect, the result of this research indicated that farmers are very careful to try out a new technology on a small part of their land to make sure that it is really effective – and very understandably, because their families’ good health will depend upon producing good yields and food security.  So they try a small area out for a while and when satisfied that it truly makes a difference, they spread it to the rest of their land.</p>

            <figure class="image">
                <img src="/img/newsletters/2017/september/4.jpg" />
                <figcaption>Mr. &amp; Mrs. Mickson Soko with their Deep Bed farming harvest. Photo by GK</figcaption>
            </figure>

            <h3>Controlled experiment</h3>

            <p>A group of about 30 farmers in Mzimba North agreed to be part of a controlled experiment in comparing the Deep Bed Method to the traditional Ridge Farming Method. </p>

            <div class="columns">
                <div class="column">

                    <figure class="image">
                        <img src="/img/newsletters/2017/september/5.jpg" />
                    </figure>

                </div>

                <div class="column">

                    <p>Each farmer prepared two 10m x 10m plots of land adjacent to each other – 1 in the traditional method and 1 in the Deep Bed Method.  Otherwise the plots were treated identically in relation to seed type[1], planting time, manure, fertiliser, weeding time, and harvesting time.  The only differences were the bed sizes, breaking the hardpan and the special method of containing water in the deep Bed Method.</p>

                    <p>To the left is a table of results taken.  The yield difference gained from these plots shows a <strong>66.5% increase in the first year</strong> producing an average of about 6.45 tonnes per hectare.</p>

                    <p>We expect the yield gap to increase annually as the soil is left undisturbed but nurtured by this Methodology.  We have seen how lives and livelihoods have been changed for many of those farmers adopting this Method.  We have no doubt there will be thousands more in the future.</p>

                </div>
            </div>

            <hr>

            <p>Authored by: Godfrey Kumwenda &amp; Isaac Chavula. Graphic design by: Isaac Chavula</p>

        </div>

    </div>
</template>