<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">
                    Tiyeni Newsletter - June 2017
                </div>
                <div class="column has-text-right newsletter-branding">
                    Tiyeni Malawi
                </div>
            </div>
        </div>

        <p>
            <a href="/file/newsletters/tiyeni-newsletter-2017-june.pdf" target="_blank">
                <span class="icon is-medium has-text-danger">
                    <fa-icon :icon="['fas', 'file-pdf']" size="2x" />
                </span>
                <span class="icon-span-medium">
                    Newsletter - June 2017
                </span>
            </a>
        </p>

        <c-pdf pdf="/file/newsletters/tiyeni-newsletter-2017-june.pdf" />

    </div>
</template>
<script>
    import CPdf from '@/components/c-pdf'
    export default {
        components: {
            CPdf
        }
    }
</script>
