<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">Tiyeni Newsletter - October 2018</div>
                <div class="column has-text-right newsletter-branding">The Tiyeni Fund</div>
            </div>
        </div>

        <div>
            <figure class="image">
                <img src="/img/newsletters/2018/october/1.jpg">
                <figcaption>Agricultural Extension Development Coordinator demonstrating pick axe use at farmer review meeting</figcaption>
            </figure>

            <h1>Supporter Newsletter</h1>

            <hr>

            <p>Welcome to our email bulletin. In this month's edition we share with you how Tiyeni works in collaboration with government agricultural staff in Malawi, especially the Ministry of Agriculture, Irrigation and Water Development (MoAIWD).</p>

            <p>After observing the implementation of Tiyeni's Deep Bed method and seeing the results, Ministry of Agriculture staff decided that this farming method is ideally placed to enable them achieve their aim of improved harvests and conservation of soil and water.</p>

            <h3>Introduction</h3>

            <p>Our training is provided to government entities, Non-Government Organisations (NGOs) and academic institutions, as well as individual farmers. As a small charity with low overhead costs, we cannot support all the farmers who request training and, therefore, we collaborate with others wherever possible.</p>

            <p>Our management and field officers work hard to link up and create relationships with government staff in the areas where we run projects, training ‘extension workers’ from the MoAIWD.</p>

            <p>Government staff have the responsibility for farmers in their respective areas and their support is vital in Tiyeni's long-term goal to reach farmers across Malawi.</p>

            <h3>Heads of Government departments in MoAIWD</h3>

            <p>At National Level the Heads of Departments, including the the Agricultural Extension Development Coordinator's (AEDCs) the head of the Department of Land Resources Conservation, and the head of Department of Agriculture Research Services, have reacted very positively to Deep Bed farming.</p>

            <p>
                Dr. Albert Changaya-Banda, the Controller of Agriculture Extension & Technical Services, commended Deep Bed farming during a National Field Day held at Matuli in 2017, for its
                <strong>strength in controlling soil erosion, water retention and high yields</strong>. His words encouraged government staff as well as farmers to adopt the method to mitigate climate change.
            </p>

            <p>
                Heads of Departments pledged support during separate presentations on Deep Bed farming by Tiyeni's Senior Manager. The head of Department of Land Resources Conservation, Mr. John J. Mussa commended the Deep Bed method as
                <strong>an improvement on conservation agriculture</strong>.
            </p>

            <figure class="image">
                <img src="/img/newsletters/2018/october/2.jpg">
                <figcaption>Dr. Albert Changayam was Guest of Honor at the National Field Day in Matuli, Emsizini extension planning area (EPA)</figcaption>
            </figure>

            <h3>The Programme Managers (MZADD and KADD)</h3>

            <p>The Programme Managers of Agricultural Development Divisions have been instrumental in their support to Tiyeni and Deep Bed promotion.</p>

            <p>
                At various national field days, the Programme Managers from Mzuzu, Kasungu and Karonga have
                <strong>spoken encouragingly and positively on the benefits of adopting Deep Bed farming</strong>. Their participation at these events has been very valuable. The results have been more farmers in the areas requesting training. Tiyeni has always collaborated with the Agricultural Development Divisions.
            </p>

            <figure class="image">
                <img src="/img/newsletters/2018/october/3.jpg">
                <figcaption>Agricultural head for the Mzuzu area, Mr B. Phewa (middle) satisfied with maize stand in Matuli, Emsizini EPA</figcaption>
            </figure>

            <h3>The Extension Planning Area (EPA)</h3>

            <p>
                The Extension Planning Area is the platform for our work in farming communities. All Government Agricultural Officers from regional through to local have shown real commitment to Deep Bed farming and a strong willingness to collaborate. So much so that
                <strong>over 150 have requested training</strong> and have been trained by Tiyeni staff, at all levels.
            </p>

            <h3>Training Lead farmers:</h3>

            <p>After being trained, the Government Agricultural Officers take on the responsibility of training Lead farmers in their sections.</p>

            <p>Lead farmers are those who receive the support of their farming group to represent them in a leadership position. Tiyeni does not influence the outcome of this selection process.</p>

            <p>In all cases, the Government trainers and Lead farmers have noted the benefits of Tiyeni's farming method and aim to become role models in their respective District Agriculture Offices</p>
.
            <figure class="image">
                <img src="/img/newsletters/2018/october/4.jpg">
                <figcaption>John Crossley (Tiyeni Trustee) visits Nicholas Chunda's garden - Lead Farmer trained by Governement Agricultural Officers</figcaption>
            </figure>

            <h3>Organising Local Field Days</h3>

            <p>Government extension workers have been helping to spread Deep Bed farming by organising local field days in their agricultural areas. This is an effective way of reaching new farmers, such as smallholder Mr Chavula. He went on to adopt Deep Bed farming and in his first year managed to cultivate 0.2ha.</p>

            <p>He has now extended to 0.6ha in 2018 and has trained 20 follower farmers who were impressed with the performance of his crops. Tiyeni Deep Bed farms are becoming important sites where conservation practices are being showcased by the Ministry of Agriculture.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/october/5.jpg">
                <figcaption>Farmers attending a field day in Bwengu this year, showing maize under Deep Bed farming</figcaption>
            </figure>

            <h3>Monitoring & evaluation meetings</h3>

            <p>The Ministry of Agriculture have been actively involved in the monitoring and evaluating the impact of Deep Bed farming in all Tiyeni catchment areas. The participation starts from the District Agriculture Office (DAO).</p>

            <p>A good example in this regard was set by Dowa DAO in July 2018. The Land Resource Conservation Officer and the Crops Officer conducted a joint mid-term evaluation on the impact of Deep Bed farming in the Madisi area with Tiyeni staff.</p>

            <p>Madisi has 24,452 farming households (15,696 male and 8,756 female headed) who face a number of environmental problems such as declining soil fertility, soil erosion, drought and deforestation. It is against this backdrop that Tiyeni rolled out a two year project to complement government efforts to improve food security at both household and national levels.</p>

            <p>DAO led the evaluation by facilitating focus group discussions, while Tiyeni staff recorded the proceedings. 138 farmers participated in the discussion of which 70 were female and 68 were male; new and experienced farmers were involved. A questionnaire was also completed by 90 respondents. A joint report has now been produced.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/october/6.jpg">
                <figcaption>The monitoring and evaluation team in Madisi</figcaption>
            </figure>

            <h3>Government Officers adopting the method in their own fields</h3>

            <p>Government Agricultural Officers have not only been preaching about Deep Bed farming to farmers, but they have lived by example! They have practically demonstrated to farmers that Deep Bed farming is beneficial by being in the forefront, adopting the technology in their own farms.</p>

            <p>
                They too have been convinced with the
                <strong>benefits realised including more than doubled yields, soil erosion control and water harvesting</strong>. For instance, Chimwemwe Chiumia of Emsizini EPA, cultivated 0.4ha after seeing the benefits.
            </p>

            <p>He learnt about Deep Bed Farming when he attended Tiyeni training in Zombwe, where all Government Agricultural Officers from 3 areas gathered for the training; he then decided to put part of his garden under Deep Bed Farming.</p>

            <p>His garden is now a learning ground for farmers in his section. Many farmers are registering to practice Deep Bed Farming after seeing the benefits from his example.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/october/7.jpg">
                <figcaption>Chimwemwe Chiumia on his land in Emsizini</figcaption>
            </figure>

            <h3>Scientific trials</h3>

            <p>The Government Department of Agricultural Research is currently running trials on the Deep Bed method of farming with an aim to release it as recommended agriculture practice through the Agriculture Technology Clearing Committee; A team of scientists from the Department of Agriculture Research Services is conducting the research. We look forward to sharing the results of these trials in due course.</p>

            <h3>Tiyeni Supporters</h3>

            <p>
                We are reliant on the generosity of individuals and organisations to provide the services and support we do to Malawian communities. We are very grateful for recent new grants from organisations including the
                <a
                    href="https://greenhallfoundation.org/"
                    target="_blank"
                    rel="noopener"
                >Green Hall Foundation</a>,
                <a
                    href="https://www.zurich.co.uk/zurichcommunitytrust/home/home.htm"
                    target="_blank"
                    rel="noopener"
                >The Zurich Community Trust Overseas Grant Programe</a> and the Cruach Trust.
            </p>

            <hr>

            <p>- Authored by Becky Kelly, Godfrey Kumwenda and Isaac Monjo Chavula.</p>

            <hr>

            <router-link to="/donate" class="button is-primary">Donate here</router-link>
        </div>
    </div>
</template>