<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">Tiyeni Newsletter - May 2018</div>
                <div class="column has-text-right newsletter-branding">The Tiyeni Fund</div>
            </div>
        </div>

        <div>
            <figure class="image">
                <img src="/img/newsletters/2018/may/1.jpg">
                <figcaption>Field Officer Khalani. standing in the bed of soya planted by lead farmer Victor (in yellow top at left) explains the importance of crop rotation</figcaption>
            </figure>

            <h1>Supporter Newsletter</h1>

            <hr>

            <p>Welcome to our email bulletin. In this month's edition we celebrate the addition of a new supporter, The Fore, and report on our successful 2018 Annual Field day.</p>

            <h3>Transformative donation</h3>

            <p>
                We are delighted to have had confirmed a substantial donation from
                <a href="https://www.thefore.org/" target="_blank" rel="noopener">The Fore</a> over a 3 year period to fully fund the Monitoring and Evaluation of the Tiyeni Deep Bed Method. The Fore is a collective of individuals, businesses and charities working to elevate dynamic small charities with funding and expertise; part of the Bulldog Trust. This grant is part-funded from the National Lottery through the
                <a
                    href="https://www.biglotteryfund.org.uk/"
                    target="_blank"
                    rel="noopener"
                >Big Lottery Fund</a>.
            </p>

            <p>This support will enable us to develop our tracking and data collection efforts, substantiate our approach, and drive adoption among government organisations, academic institutions and agricultural NGOs.</p>

            <p>Francis Gondwe is now employed to carry this out and is already hard at work. The results will be essential to validate the deep bed farming method and to monitor closely the exponential growth in numbers of farmers seeking to adopt it.</p>

            <h3>Annual Field Day</h3>

            <p>Tiyeni's aim is to introduce Deep Bed farming -- with all the advantages it offers both to the farmers and environmentally -- throughout Malawi; and indeed beyond.</p>

            <p>As a tradition Tiyeni, therefore, conducts a National Field Day every year with the aim to disseminate and promote Deep Bed Farming in its catchment areas, showcase the deep bed method to a wide range of people, and as one way of reaching many more farmers.</p>

            <p>Madisi is in an important central location for spreading awareness of the Deep Bed method and was our chosen venue on 28th March 2018, when crops were maturing and looking their best. The field day was held in Madisi at Kasungu ADD, under the theme:</p>

            <p
                class="has-text-weight-bold"
            >Deep Bed Farming for improved land productivity and resilience against climate change</p>

            <p>The event attracted over 200 farmers, stakeholders from around Kasungu ADD and notable INGOs from Lilongwe and Dedza districts. The National Field Day was graced by Chairperson of Dowa District Councilor Precious Kambuzi</p>

            <figure class="image">
                <img src="/img/newsletters/2018/may/2.jpg">
                <figcaption>Invited guests listened to speeches as they relaxed under gazebos provided by the Malawi Defence Forces, a kind gesture!</figcaption>
            </figure>

            <h3>Speeches</h3>

            <p>During the field day the Guest of Honour and other invited guests addressed the audience. The time and effort put into the event by our staff was rewarded by very encouraging responses; Below are the highlights of the speeches.</p>

            <h4>The Guest of Honour</h4>

            <p>The Guest of Honour, Councillor Precious Kambuzi, commended Tiyeni Organisation for introducing the Deep Bed method in Dowa district, saying it was good development and that it will contribute to addressing the needs of poor rural farmers in the area. He lamented the occurrence of prolonged dry spells that last several weeks. Referring to the nearly 5 week long dry spell this year, he said most of the crops did not do as well in the area. He however expressed surprise at the resilience against moisture stress displayed by crops planted on deep beds under the Deep Bed Farming method. The dry spell did not show much impact on the Deep Bed farming maize stand as compared to adjacent fields.</p>

            <p>He concluded by urging all farmers in the district to adopt the Deep Bed Farming method if they want to adapt to climate change impacts and continue harvesting more.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/may/3.jpg">
                <figcaption>Precious Kambuzi, a guest of honour during the field day, ward councilor and chairperson for Dowa district council</figcaption>
            </figure>

            <h4>The Chief Land Resource Conservation Officer</h4>

            <p>The Chief Land Resource Conservation Officer, Mr. Andrew Msosa, representative of the Program Manager for Kasungu ADD, commended the Deep Bed Farming technology for helping farmers to produce enough crops when some parts of the district were hit by a dry spell this season.</p>

            <p>He said the change in climate patterns necessitates the adoption of modern and innovative farming technologies that will increase production.</p>

            <figure class="image vertical">
                <img src="/img/newsletters/2018/may/4.jpg">
                <figcaption>Isaac Chavula, Senior Manager of Tiyeni</figcaption>
            </figure>

            <h4>The Executive Director of Tiyeni Malawi</h4>

            <p>The Senior Manager of Tiyeni, Isaac Chavula, urged all stakeholders to join hands in promoting Deep Bed farming in their respective areas for the benefit of rural poor farmers. He also stressed the importance of adopting the Deep Bed method in Malawi because it has the potential to mitigate floods and the siltation of the Shire River, that leads to the electricity/power shortage experienced in Malawi.</p>

            <h4>The Trustees Representative</h4>

            <p>John Crossley who was UK trustee representative at the field day, urged the gathering to look after the precious land resource they have by adopting the Deep Bed Farming and commended the Ministry of Agriculture, through Madisi EPA, for accepting and working together with Tiyeni in promoting DBF.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/may/5.jpg">
            </figure>

            <h3>Data protection notice</h3>

            <p>On 25 May, the General Data Protection Regulation (GDPR) comes into force with the aim of strengthing data protection for people within the EU. As you have voluntarily subscribed to our newsletter/s, you do not need to take any action and will continue to receive them as normal.</p>

            <p>
                You can unsubscribe or update your contact preferences at any time at the base of this email or by contacting us at
                <a href="mailto:info@tiyeni.org">info@tiyeni.org</a>.
            </p>

            <h3>Securing support for Tiyeni</h3>

            <p>
                We are reliant on the generosity of individuals and organisations to provide the services and support we do to Malawian communities. We are very grateful for recent new grants from organisations including the
                <a
                    href="http://www.austinbaileyfoundation.org/"
                    target="_blank"
                    rel="noopener"
                >Austin Bailey Foundation</a> and
                <a
                    href="https://www.gov.gg/overseasaid"
                    target="_blank"
                    rel="noopener"
                >Guernsey Overseas Aid</a>.
            </p>

            <hr>

            <p>- Authored by Becky Kelly. Field activities authored by Isaac Chavula, G. Kumwenda, N. Phiri & F.M. Gondwe</p>

            <hr>

            <router-link to="/donate">Donate to us here: drive away hunger from Malawi</router-link>
        </div>
    </div>
</template>