<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">Tiyeni Newsletter - July, 2018</div>
                <div class="column has-text-right newsletter-branding">The Tiyeni Fund</div>
            </div>
        </div>

        <div>
            <figure class="image">
                <img src="/img/newsletters/2018/july/1.jpg">
                <figcaption>Locals in Emsizini sing and dance with Holly Tett</figcaption>
            </figure>

            <h1>Supporter Newsletter</h1>

            <hr>

            <p>Welcome to our email bulletin. In this month's edition we celebrate a high profile visit which took place in June and focus on progress in Madisi, an extension planning area (EPA) in the central region of Malawi.</p>

            <h3>British High Commissioner hails the role of Tiyeni</h3>

            <p>Following a meeting between Holly Tett and a Tiyeni trustee in February 2017, a visit was welcomed on Saturday 9th June. The day was also attended by Mzuzu Agricultural Development Division (Mzadd) officials.</p>

            <p>This was a big step in spreading news of this life changing technology. Footage of the day was featured on national Malawi television and an article was published the following week in The Nation.</p>

            <p>Holly Tett observed that the farmers registered improved yields despite the area being hit by drought between February and March this year, commenting "Honestly, I am impressed with the crop I have seen here. People will have enough food despite being hit by drought in some areas".</p>

            <p>Half a day was spent visting farmer fields in Emsizini, Matuli. At the first farm, Dalitso Nyirongo, Lead farmer, gave a tour of his land where he has been Deep Bed Farming for 3 years. He is still expanding his Deep Bed fields, so was able to demonstrate that on the remaining non-Tiyeni patch, at the lower slope of his farm, the stalks only grew a foot high at most with fertiliser application. Holly said "I'm here to see in practice what the Deep Bed farming means and it is impossible not to recognise the benefits. On the one side, where the DBF has been applied, huge maize crops are rich and thick, and on the other side there are essentially no crops."</p>

            <figure class="image">
                <img src="/img/newsletters/2018/july/2.jpg">
                <figcaption>Conventional crops in the foreground and Tiyeni Deep Bed crops in the background.</figcaption>
            </figure>

            <p>Dalitso has a pig which he received in January as part of our pass-on program and mixes the pig waste with cow dung from local oxen for his compost pit. He is in the process of building a new home from income from surpluses thanks to the consistently good yields. He has oxen and helps others in the community with tilling for free whenever he can. Tiyen's farming technique has opened the doors to success as he manages to support his family, he is building a house and saves enough in the bank.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/july/3.jpg">
                <figcaption>Farmer Dalitso describes the improvement in soil quality on his Deep Bed land</figcaption>
            </figure>

            <p>Speeches were given after farm tour by Isaac Monjo Chavula, Tiyeni Senior Manager, Wellington Phewa, Mzadd Programme Manager, and Holly Tett, The British High Commissioner.</p>

            <p>Holly said that the UK government appreciates the importance of farming as most people’s source of income in Malawi. She commended the farmers for adopting the new technology to sustain their livelihoods through farming, saying "It's really fantsatic to see what an impact this method can have and I really think that it could be transformational for the way that Malawi farms it's crops. I'm excited to go back to the office to talk about it with the experts in my team...and to see how we can support it."</p>

            <p>The UK government is launching a new resilience fund and Holly said she would like to see Tiyeni will be a part of this, to improve farming in Malawi and fight climate change, saying "We are breifing various ministries and development partners in the UK about the impact of the Deep Bed farming technology we have seen here in Malawi so that they should also play a financing role to the project".</p>

            <p>Holly added that she would urge the Malawi government to move beyond the existing subsidy programme so that farmers, through sustainable solutions, can earn money and buy their own fertilisers. She particularly appreciated the holistic nature of Tiyeni’s work, noting all the different farming components Dalitso operates on his land.</p>

            <p>In his remarks Wellington Phewa observed that Tiyeni does not have enough capacity to train all those requesting training and would like to see the total number of Field Officers increased. The Mzadd officials assisted with the smooth running of the event, providing their support and helping with translation.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/july/4.jpg">
                <figcaption>Holly Tett visits the Tiyeni office in Mzuzu before departing</figcaption>
            </figure>

            <h3>Madisi</h3>

            <p>Like many other EPAs, Madisi faces ecological problems such as soil erosion, drought and deforestation which have contributed to the decline in crop harvests. Tiyeni launched it's training in Madisi in 2017 and a full-time Field Officer is now based in the EPA. The following are highlights of activities:</p>

            <h4>1. Training of Agriculture Extension Development Officers (AEDOs)</h4>

            <p>Tiyeni believes in working in collaboration with partners and the Ministry of Agriculture, Irrigation and Water Development (MoAIWD) is one of them. Ten AEDOs were trained in 2016/17 and they, in turn, trained 54 lead farmers (early adopters) in their sections. Crops under DBF fields did very well and more than double yields were realized as observed by farmers and AEDOs. DBF fields had crops that were more resilient to dry spell, had no visible soil erosion occurring and farmers noted a reduction in labour requirement during land preparation in subsequent year. These observations created more demand for DBF amongst farmers in Madisi.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/july/5.jpg">
                <figcaption>Maize flourishing well in February</figcaption>
            </figure>

            <h4>2. Briefing the Mponera District Agriculture Officer – the DADO</h4>

            <p>After seeing that crops under DBF did very well by increasing yields and improving crop resilience against the dry spells in Madisi EPA, the Mponela DADO requested Tiyeni to present its technology to his office. After being briefed on the basic principles of DBF the DADO said if DBF would be intensified in the area farmers would be free from hunger because of the good yields they would get. The DADO added that 15cm of groundwater is being lost annually as noted in a long-term study in Dowa district. He attributed that to insufficient replenishment of ground water aquifers. Since DBF increases water infiltration to replenish groundwater table and boreholes, shallow wells and streams will come back to life, he reasoned.</p>

            <h4>3. Local field day</h4>

            <p>The Local Field Day that was conducted in Madisi made the EPA a role model within and outside Kasungu ADD. The EPA attracted many organizations who came to learn from farmers in the area. The International NGO Consortium partners - Save the Children, United Purpose, COOPI and Concern Worldwide, came with their farmers and AEDOs from Dedza, Salima, and Mangochi. After the local field day 65 lead farmers and 30 AEDOs were trained in Salima, Dedza and Mangochi with support from the INGO Consortium.</p>

            <p class="is-italic">Central and Southern regions hit by dry spell for nearly 5 weeks!</p>

            <p>The central and southern regions were hard hit by prolonged dry spell during the 2017/18 growing season. Most of the districts suffered and most of the crops withered beyond recovery. However, crops under the DBF were more resilient to these harsh dry spell conditions. Most of the crops did very well compared to crops under conventional ridge farming. When surrounding farmers saw this, they made a strong commitment to adopt the DBF in the next growing season.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/july/6.jpg">
                <figcaption>Recently mulched beds in Madisi</figcaption>
            </figure>

            <h3>Securing support for Tiyeni</h3>We are reliant on the generosity of individuals and organisations to provide the services and support we do to Malawian communities. We are very grateful for recent new grants from organisations including
            <a
                href="http://beta.charitycommission.gov.uk/charity-details/?regid=1134766&subid=0"
                target="_blank"
                rel="noopener"
            >The Green Room Charitable Trust</a>
.
            <hr>

            <p>- Authored by Becky Kelly, Godfrey Kumwenda and Isaac Monjo Chavula.</p>

            <hr>

            <router-link
                to="/donate"
                class="button is-primary"
            >Donate to us here: drive away hunger from Malawi</router-link>
        </div>
    </div>
</template>