<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">Tiyeni Newsletter - February 2018</div>
                <div class="column has-text-right newsletter-branding">The Tiyeni Fund</div>
            </div>
        </div>

        <div>
            <figure class="image">
                <img src="/img/newsletters/2018/february/1.jpg">
                <figcaption>Miriam is a Lead Farmer, chosen by her community, who uses her skills to enable other farmers to take up the deep bed system.</figcaption>
            </figure>

            <h1>Supporter Newsletter</h1>

            <hr>

            <h5>Welcome to our email bulletin. This month's edition features updates from John Crossley, our founding Trustee, with photos from John and Elizabeth's recent trip to Malawi . There is also a brief report on recent weather events</h5>

            <h3>News from John</h3>
            <p>2017 was an eventful year - and not all the events during this period have been welcome ones. on June 1st we attended Jane Whitlock's funeral. Jane had been working tirelessly on budgeting and accounting for Tiyeni finances, but she became less and less able to do so as illness overtook her. She died at her home in Norfolk and is sorely missed by her friends and colleagues at Tiyeni and elsewhere.</p>

            <h3>Government field staff</h3>
            <p>There has been an enthusiastic response from Government field staff who have seen the results obtained by farmers using the Deep Bed method. This is continuing. Government’s agricultural service is delivered at village level through Extension Planning Areas (EPAs), each controlled by an Agricultural Extension Development Co-ordinator.</p>

            <p>Tiyeni is now working at a number of these EPAs in every instance at the request of the agricultural officer in charge. Once Tiyeni staff have trained the officials, it is up to them to extend the use of deep beds throughout their areas for those farmers who wish to adopt it. This will mean, not only improved crop yields, but a curb on erosion and conservation of valuable water resources.</p>

            <p>Tiyeni staff do follow-up work, monitoring the proper application of the deep bed method.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/february/2.jpg">
                <figcaption>John and Elizabeth Crossley with Senior Manager Isaac Monjo Chavula. Wouldn't you agree the t-shirts look fantastic!</figcaption>
            </figure>

            <h3>Field Days, Open Days and Agricultural Fairs</h3>

            <p>Field Days, Open Days and Agricultural Fairs sponsored by Government take place at regular intervals, and Tiyeni field staff attend these – generally by invitation. These events provide golden opportunities to publicize the soil care system which is proving so effective.</p>

            <p>For instance, the guest of honour at the Mzimba South Agricultural Fair held in August was the prestigious Paramount Chief on the Angoni tribe, Inkosi M’mbelwa V. Tiyeni was represented by field officers Namelord Phiri and Timothy Moyo. They had explained well the work that Tyeni is doing, and when Chief M’mbelwa addressed the people he recommended the widespread adoption of the deep bed system by his people. He pointed out that times had changed and that this was an appropriate technology since, in his own words, “deep beds hold water for crop development in times of insufficient rains.”</p>

            <h3>Field Trial</h3>

            <p>A carefully conducted trial, carried out in the gardens of 32 smallholder farmers and 2 demonstration gardens, to measure the yield of crops of maize grown by the deep bed system, showed that the average yield from the beds was the equivalent of six and a half tons per hectare compared with about a third of that usually harvested by smallholders. (Or nine tons on the USA corn belt). For a country chronically suffering from food shortage, this is an obvious advantage!</p>

            <p>The advantages of using the environmentally-friendly method of cultivation which Tiyeni has introduced, both from the point of view of crop yields and for the sake of conserving soil and water, are overwhelming. This is well understood by both the traditional leaders and Government staff who actually work on the land as well as by the farmers themselves.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/february/3.jpg">
                <figcaption>Khalani Longwe, Field Officer, demonstrates the correct plant spacing at Ngulube. Note compost in planting holes for efficient use when supplies are low.</figcaption>
            </figure>

            <h3>Weather events</h3>

            <p>The rainy season used to have a predictable start date before December. It no longer has. Also, there are now often dry spells during the growing season which were rare previously. This has been the situation in January for some parts of Balaka, Lilongwe, Machinga, Madisi and Blantyre; dry conditions and wilting plants when planted in traditional non-Tiyeni beds.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/february/4.jpg">
                <figcaption>In some Southern Malawian regions crops have dried up terribly, photos show Phalombe.</figcaption>
            </figure>

            <figure class="image">
                <img src="/img/newsletters/2018/february/5.jpg">
                <figcaption>Wilting of maize planted on traditional local ridges (first photo) in Madisi EPA, Central Malawi, where there has been no rain for 9 days now.</figcaption>
            </figure>

            <p>Tiyeni’s deep bed method very substantially reduces the effects of these climate change induced challenges, through working sensibly with the subsoil and water table. The maize planted in Tiyeni Deep Beds is showing no signs of wilting. Deep Beds can withstand erratic rains and drought for a much longer period.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/february/6.jpg">
                <figcaption>Despite the dry spell in Malawi, crops under deep bed farming are growing vigorously. This is one of the maize fields under deep bed farming at Bvumbwe Research Station</figcaption>
            </figure>

            <h3>Securing support for Tiyeni</h3>

            <p>
                We are reliant on the generosity of individuals and organisations to provide the services and support we do to Malawian communities. We are very grateful for a recent new grant from
                <a
                    href="https://schrodercharitytrust.org/"
                    target="_blank"
                    rel="noopener"
                >Schroder Charity Trust.</a>
            </p>

            <hr>

            <p>- Authored by Becky Kelly</p>
        </div>
    </div>
</template>