<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">Tiyeni Newsletter - January 2018</div>
                <div class="column has-text-right newsletter-branding">The Tiyeni Fund</div>
            </div>
        </div>

        <div>
            <figure class="image">
                <img src="/img/newsletters/2018/january/1.jpg">
            </figure>

            <h1>Supporter Newsletter</h1>

            <hr>

            <p>Happy New Year and welcome to our email bulletin. My name is Godfrey Kumwenda and I am Tiyeni's Training Manager.</p>

            <p>This edition begins with the question "Is the Deep Bed farming method environmentally friendly?" This question is about whether, by adopting the Deep Bed Farming (DBF), a farmer will begin to experience positive or negative consequences in the environment.</p>

            <p>In this newsletter, we endeavour to answer the question above by examining the likely impacts of DBF on the environment. Before doing this, we must consider the challenges that are caused by the current methods of farming.</p>

            <h3>How unfriendly is the ridge cultivation practiced by smallholder farmers for decades?</h3>

            <p>Since colonial times, smallholder farmers have used a hand hoe for cultivation that is characterised by the making of ridges. Continued use of the hand hoe to make ridges every year has created a hard pan just below the surface of the soil. FAO (1999) verified the existence of this soil hard pan in all 8 Agricultural Development Divisions in Malawi and attributed the falling crop yields to this fact.</p>

            <p>The soil hard pan also prevents proper crop root development, impedes water infiltration and promotes surface water runoff which leads to serious soil loss estimated at 29 tons per hectare per year (FAO, 2014). Eroded soil causes siltation of rivers, springs and lakes where it settles and destroys aquatic ecosystems. Water is also lost resulting in lowering water table, and flooding rivers and the fertile flat lands along the river valleys.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/january/2.jpg">
                <figcaption>Implementing Conservation Agriculutre (CA), without initially breaking the soil hard pan, is not sufficient. This picture shows a poor maize crop under CA in Kahanjwa centre that is failing to develop properly due to the presence of the soil hard pan. Unless the soil is de-compacted, crop root development is greatly impeded even with organic ground cover. Photo by:I.M. Chavula</figcaption>
            </figure>

            <h3>How friendly to the environment is the Deep Bed Farming method?</h3>

            <p>It being common knowledge for decades that soil erosion, water loss through surface runoff, soil infertility (including soil becoming acidic) and soil hard pan are some of the challenges affecting the agricultural productivity, you would have thought that by now, Malawi would have developed and promoted farming technologies that mitigate these problems. Of course, there are many good technologies that are available. Unfortunately, they are being implemented in isolation and not as a package that can effectively mitigate the existing challenges.</p>

            <p>Is the “Deep Bed Farming” that package that Malawi needs now? The answer is “Yes!” Let us examine this in detail.</p>

            <h3>Contour marking the fields</h3>

            <p>How does DBF take care of slopes of cultivated fields where water may flow downhill on the surface carrying precious soils as it moves? Every field is contour marked. Marker ridges are made to guide where planting beds will be made using line level or A-frame. These ridges are exactly on the contour line.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/january/3.jpg">
                <figcaption>Organic ground cover will be swept away as shown in this picture as long as the cultivated field has some slope. Chiwamba EPA, Lilongwe, 2017</figcaption>
            </figure>

            <h3>Breaking the soil "hard pan"</h3>

            <p>How does DBF increase water infiltration and crop root development? During the first year of cultivation farmers break the soil hard pan by using a pickaxe or ripper. For at least five years farmers do not re-till the field. Water infiltration is greatly enhanced, becoming available to crops during a dry spell. Percolated water recharges aquifers and raises the water table, hence reviving boreholes, springs and rivers. Better crop root development is achieved and improved crop resilience to drought, increased nutrient uptake resulting in healthy plants and high yields. ‘Never again step on the beds and so avoid re-compaction of soil!’</p>

            <h3>Contour aligned planting beds and furrows</h3>

            <p>How does DBF harvest water, eradicate soil erosion and encourage water retention? Planting beds are constructed in line with marker ridges placed at intervals across the slope. Between beds there are furrows which are at zero slope as well. Hence, there is no water flowing in a DBF field. Furrows have closed ends and box-ridged for effective water trapping. This is how DBF harvests water, stops soil erosion and retains water, giving it more time to infiltrate.</p>

            <h3>Soil Nourishment - "Feed the soil, and it will feed you!"</h3>

            <p>How does the DBF method enhance soil fertility to achieve more than double the crop yields? Farmers make manure, especially ‘Bokash’, and apply it pure or mixed with inorganic fertilizers for enrichment of the soil. Well-fed soil is key to improving yield under DBF. All soil fertility improvement practices such as agroforestry, residue retention (no burning), interplanting or rotation with legumes are encouraged and promoted. The more food you give to your planting beds, the more food you receive. The beds can be used for more than 5 years before a re-till is needed, hence saving labour.</p>

            <figure class="image">
                <img src="/img/newsletters/2018/january/4.jpg">
                <figcaption>Composting is beneficial to the environment and forms an important component of DBF to replenish fertility in the soil. Photo by GK</figcaption>
            </figure>

            <p>DBF embraces all good husbandry practices such as maintenance soil cover; minimal soil disturbance through tillage after initial breakage of the hard pan; regular crop rotations to help combat the various biotic constraints; minimised labour needs of farmers who use manual or animal powered systems.</p>

            <h3>DBF more than doubles yields and for less work!</h3>

            <p>The importance of practising sustainable and environmentally friendly farming is a matter of priority now when crop yields are so reduced; soils get eroded, impoverished, hardened and acidic; aquatic ecosystems get destroyed due to heavy siltation, flash floods; water reservoirs get dried; more frequent and prolonged dry spells, lowering water table; many more challenges facing the agricultural production.</p>

            <p>It is time to spread the Deep Bed Farming method: a climate smart, environmentally friendly solution to these challenges.</p>

            <h3>Securing support for Tiyeni</h3>

            <p>
                We are reliant on the generosity of individuals and organisations to provide the services and support we do to Malawian communities. We are very grateful for recent new grants from
                <a
                    href="https://www.humanitygives.com/"
                    target="_blank"
                    rel="noopener"
                >Humanity Gives</a>, the
                <a
                    href="http://www.evancornishfoundation.org.uk/"
                    target="_blank"
                    rel="noopener"
                >Evan Cornish Foundation</a> and the
                <a
                    href="https://www.facebook.com/belacquatrust/"
                    target="_blank"
                    rel="noopener"
                >Belacqua Trust</a>.
            </p>

            <hr>

            <p>- Authored by: Godfrey Kumwenda, Isaac Chavula &amp; John Crossley. Graphic design by: Isaac Chavula</p>
        </div>
    </div>
</template>