<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">Tiyeni Newsletter - April 2019</div>
                <div class="column has-text-right newsletter-branding">The Tiyeni Fund</div>
            </div>
        </div>

        <div>
            <figure class="image">
                <img src="/img/newsletters/2019/april/1.jpeg">
                <figcaption>Mr and Mrs Katadzuka with their maize crop in Zombwe area </figcaption>
            </figure>

            <h1>Supporter Newsletter</h1>

            <hr>
                        
            <h3>Introduction</h3>

            <p>Did you know you can see the latest updates from our full team in Malawi by visiting our <a href="https://www.youtube.com/channel/UCarkbM2rb02WC8CZm5RIrvQ?view_as=subscriber" target="_blank" rel="noopener">Youtube channel</a>? Hear from our <a href="https://www.youtube.com/watch?v=OC_HYVqAV9k" target="_blank" rel="noopener">Monitoring &amp; Evaluation Officer</a> who is regularly checking on the progress of crops across all Tiyeni sites; hear from Field Officer Khalani with the <a href="https://www.youtube.com/watch?v=E0yQ3pm5X0k" target="_blank" rel="noopener">President of the Farmers Union of Malawi</a>, and a big Deep Bed fan! And hear from our Executive Director <a href="https://www.youtube.com/watch?v=Ok9VwcbZvOw" target="_blank" rel="noopener">Isaac Chavula</a> in the beautiful office garden. Plus many more!</p>

            <p>Let one of our Malawian staff who is passionate about soil conservation, explain our work:</p>

            <blockquote>
                
                <p>Welcome to our latest email bulletin. My name is Godfrey Kumwenda and I'm Tiyeni's Training Manager. </p>

                <p>It is a well-known fact that <strong>80% of Malawi’s population depends on rainfed subsistence agriculture</strong> for their survival. Agriculture remains the largest economic activity contributing 28.7% of GDP and more than 80% of export earnings. This signifies that as a nation, productive soil is one of the most important resources nature has endowed us for our own survival. But for this newsletter we ask, what is the extent of the loss of soil through erosion and what is being done in Malawi to safeguard and manage this precious resource – soil?</p>
    
            </blockquote>

            <h3>Magnitude of Soil Erosion</h3>

            <p>Soil erosion is one of the many challenges the smallholder farmer has been facing in Malawi for decades. Heavily eroded fields are common sites; Cultivation on fragile soils, steep slopes and poor soil management practices are among top causes of erosion.</p>

            <p>Poor soil management causes serious damage to our national economy. A study report by FAO/UNDP (2014) found that the country loses an average of 29 ton per hectare per year of top soil. This causes serious depletion of the fertile soil needed to sustain agriculture productivity.</p>

            <p>It is also estimated that every year, soil erosion reduces agricultural productivity by 6% putting less food on the table for many households. A World Bank (1992) funded study found out that up to 15.6% of yield is lost due to the top soil to erosion. The same report estimated that if soil erosion was be tackled, 1.88 million people could be lifted out of poverty within a decade.</p>

           <h3>Past efforts to safeguard and manage soils</h3>

            <p>Since colonial times, methods of husbandry and farming practices have been promoted with an aim to mitigate erosion. Ridge cultivation was designed to mitigate the problem of erosion and increase yields. Farmers were told to till soil and construct 30cm high ridges along contour markers and boxed furrows to prevent erosion. However, improper alignment of ridges, cultivation of steep slopes, fragile and shallow soil types, high intensity rainfall, and poor soil management practices have led to regrettable levels of erosion in this country.</p>
    
            <figure class="image">
                <img src="/img/newsletters/2019/april/2.jpg">
                <figcaption>Disastrous water run-off from conventional ridge farming in December 2018, showing how millions of tons of soil are being lost annually.</figcaption>
            </figure>

            <p>Continued use of hand hoes and constant treading have over time created the hard pan that prevents proper root development, hinders water infiltration and promotes top soil saturation causing increased surface runoff.</p> 

            <figure class="image">
                <img src="/img/newsletters/2019/april/3.jpg">
                <figcaption>Illustrating the extent of the hard pan in many farming soils.</figcaption>
            </figure>

            <p>The government effort to safeguard and manage soil and water resources in agriculture production, under ridge cultivation as well as Conservation Agriculture farming, is being challenged. These are, however, still the most commonly promoted technologies in Malawi. Inevitably the next question would be whether there is any better technology that can help farmers manage soil and water to attain sustainable food and income security? The answer is, Yes! There is the Tiyeni <strong>Deep Bed farming method</strong>.</p>

            <h3>The Solution</h3>

            <p>Deep Bed Farming is a package of government approved good husbandry practices that have been innovatively blended into a technology that, if applied together, is capable to stop soil erosion, build soil fertility and soil health, harvest rain water and increase absorption, increase rooting depth thereby improving crop health and performance (yield).</p>

            <p>DBF is capable of mitigating soil loss, reducing floods, recharging aquifers, and reducing the cost of investment in soil due to enhanced ability to retain top healthy and fertile soils. But what key DBF elements help to stop soil erosion?</p>
            

            <h3>Elements of Deep Bed Farming</h3>

            <p>The DBF package has a number of good husbandry practices that are implemented together for effectiveness. This article outlines those that are critical to the control of soil erosion:</p>

            <p><strong>Breaking the soil hard pan</strong>. This is mandatory wherever there is such a physical barrier. The hard pan which is prevalent across Malawi must be broken before planting any crop, a recommended requirement by experts (FAO, 1999). Adoption of Zero Tillage must be on a soil with all physical and chemical limitations removed –hoe and plough hard pans especially need to be removed by cultivation. Farmers break the pan by deep tilling to a depth of not less than 30cm, generally using a pick axe to achieve this.</p> 

            <p><strong>Construction of planting beds</strong> (Deep Beds). Once the area for deep bed cultivation has been selected, the contours are marked using a line level, and marker ridges are constructed following the contour. These ridges are strengthened with tough vetiver grass planted on them. The deep beds are constructed parallel to the marker ridges – therefore also following the contour – loosening the soil at depth as described above. The beds measure a metre across and are separated by furrows which also serve as paths – the beds being out of bounds for treading on.</p>

            <p>The soil composing the beds  remains permanently loose, allowing crop roots to grow deep and water to infiltrate rather than running over the surface. The furrows are closed at the ends and “stopped” at intervals to prevent the movement of water. No water flows off the area treated in this way. (See the 3rd picture following). The beds measure 100cm at the top separated by 50cm furrows.</p>


            <figure class="image">
                <img src="/img/newsletters/2019/april/4.jpg">
                <figcaption>Tiyeni farmer Langson Mhone in his field. His right foot is on a marker ridge planted with Vetiver Grass and a legume crop.  He would never stand on one of the deep beds. They are never trodden on and never tilled again!</figcaption>
            </figure>

            <p><strong>Box furrows, close ends and raise footpaths</strong>. Boxed furrows, closed ends and raised footpaths are important elements in DBF.</p>

            <figure class="image">
                <img src="/img/newsletters/2019/april/5.jpg">
                <figcaption>Tiyeni farmer Gertrude Jere in her field in January. Note the raised cross path at the bottom of the picture. These raised paths ensure that water does not use the walkways as a stream bed.</figcaption>
            </figure>

            <p>These features allow water harvesting and ensure full percolation of rainfall into the subsoil. The moisture is readily available to crops and doesn't get lost as surface runoff.</p> 

            
            <figure class="image">
                <img src="/img/newsletters/2019/april/6.jpg">
            </figure>

            <p>Application of organic manure that cover beds. The beds are long-term structures that, once made, are used for many years. The beds are never stepped on to avoid compacting the soil again.</p> 


            <figure class="image">
                <img src="/img/newsletters/2019/april/7.jpg">
                <figcaption>Application of organic ground cover materials and manure enhances soil moisture retention.</figcaption>
            </figure>

            <center><h4>It is possible to reverse the rate of soil erosion if more farmers adopt the Deep Bed Farming method.</h4></p></center>

            <p>We are grateful for the support of all our donors and give special thanks to two Foundations who we are delighted to be working with over several years to come:</p>

            <p>The <a href="http://halcrowfoundation.org/" target="_blank" rel="noopener"> Halcrow Foundation</a>, who wrote a <a href="http://halcrowfoundation.org/portfolio/sustainable-farming-methods-manyamula-malawi/" target="_blank" rel="noopener">blog piece about the project</a>.</p>  

            <p>The <a href="http://www.austinbaileyfoundation.org/" target="_blank" rel="noopener">Austin Bailey Foundation</a>, who we are honoured to work with as a <a href="http://www.austinbaileyfoundation.org/grants/flagship-projects" target="_blank" rel="noopener">Flagship Project</a>.</p> 

            <p>
                Author: Isaac Monjo Chavula.<br>
                Graphics Designer: Isaac Monjo Chavula<br>
                Pictures: Godfrey Kumwenda and others
            </p>

            <hr>

            <h4>Promoting Sustainable Farming Methods in Malawi</h4>

            <p>
                Website: <router-link to="/">www.tiyeni.org</router-link><br>
                Postal Address: P.O. Box 429, Mzuzu, Malawi.<br>
                Contact: +265 999 207 400
            </p>
            <p>
                <router-link class="button is-large is-primary is-fullwidth" to="/donate">Donate to us here!</router-link>
            </p>

        </div>
    </div>
</template>