<template>
    <div class="newsletter content">
        <div class="newsletter-header">
            <div class="columns">
                <div class="column newsletter-title">Tiyeni Newsletter - June 2019</div>
                <div class="column has-text-right newsletter-branding">The Tiyeni Fund</div>
            </div>
        </div>

        <div>

            <h1>Supporter Newsletter</h1>

            <hr>
                        
            <h3>Two years ago...</h3>

            <p>...nobody in Bula knew about <strong>Deep Bed Farming</strong> - and then Tiyeni field officer Love Msiska arrived. She's well qualified in agriculture but, more importantly, is an excellent communicator - and very clear in what her role is.</p> 

            <p><strong>One year ago</strong>, the first Deep Bed crops were harvested - yielding levels not seen for decades in this mountainous village.</p> 

            <p><strong>So why was this?</strong> Well, through years of ridge and furrow farming imposed on farmers by “higher authorities”, the land had become so seriously depleted that some land was just not worth farming any more.</p> 

            <p><strong>Roll forward to 2019</strong> and our pictures here. This farmer, Thomas Mwale, had given up on his land - in his words - abandoned it. However, with Love’s advice, he thought he would try Deep Bed Farming on some of the abandoned land. He did not have much hope, but the enthusiasm of other local villagers made him try it. <strong>Below</strong>, you can see the compacted clods he produced by breaking the hard pan. Once he had done this he made them into Tiyeni deep beds, following detailed training by Tiyeni on skills and knowledge.</p>

            <figure class="image">
                <img src="/img/newsletters/2019/june/1.jpg">
            </figure>

            <p>Our picture below shows some of his land with fair crops of ground nuts in the foreground and maize in the background. The groundnuts were copious and well-formed. Each plant had 30 to 40 pods on it.</p> 

            <figure class="image">
                <img src="/img/newsletters/2019/june/2.jpg">
            </figure>

            <p>The third picture shows part of his abandoned land in the foreground, where even weeds grow only sparsely, and in the background, huge maize plants with healthy cobs - where nothing grew before. Such is the ‘magic’ of Deep Bed Farming.</p>
            
            <figure class="image">
                <img src="/img/newsletters/2019/june/3.jpg">
            </figure>

            <p><strong>Of course, there is no magic in it at all</strong>. This is just plain common sense, the very words used by the farmers of Bula. When these farmers start learning about this basket of simple land husbandry methods they grasp it very quickly and are soon thinking of ways of adapting it for their particular farms.</p> 

            <p>So, they know that at the beginning they have to break the hard pan, but once tilled, they never have to do it again. And guess what is happening right now in Bula?  Nearly all farmers are making their land into Deep Beds.</p> 

            <p><strong>Eventually, this simple way of improving soil fertility by care for the soil, will spread throughout Malawi.</strong></p>

            <p>
                Author: Isaac Monjo Chavula.<br>
                Graphics Designer: Isaac Monjo Chavula<br>
                Pictures: Godfrey Kumwenda and others
            </p>

            <hr>

            <h4>Promoting Sustainable Farming Methods in Malawi</h4>

            <p>
                Website: <router-link to="/">www.tiyeni.org</router-link><br>
                Postal Address: P.O. Box 429, Mzuzu, Malawi.<br>
                Contact: +265 999 207 400
            </p>
            <p>
                <router-link class="button is-large is-primary is-fullwidth" to="/donate">Donate to us here!</router-link>
            </p>

        </div>
    </div>
</template>