@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

$primary: #328d29;

$title-color: $grey-dark;
$title-weight: $weight-light;

$subtitle-color: $grey-dark;
$subtitle-weight: $weight-light;

$content-heading-color: $grey-darker;
$content-heading-weight: $weight-normal;

$text: $grey;

$fullhd: 1344;

@import '~bulma/sass/utilities/all';
