.agile {
    &__dots {
        bottom: 0;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }

    &__dot {
        margin: 1em 0.5em;

        button {
            background-color: transparent;
            border: 1px solid $light;
            border-radius: 50%;
            cursor: pointer;
            display: block;
            height: 12px;
            width: 12px;
            transition-duration: .3s;

            &:hover {
                background-color: $light;
            }
        }

        &--current {
            button {
                background-color: #fff;
            }
        }
    }

    &__arrow {
        height: 100%;
        top: 0;
        width: 80px;
        border: none;
        bottom: 10px;
        margin: 0;
        background: rgba(#000, .5);
        fill: $light;
        padding: 0;
        position: absolute;
        transition-duration: .3s;
        cursor: pointer;
        opacity: 0;

        &--next {
            right: 0;
        }

        &:hover {
            opacity: 0.8;
        }

        &[disabled] {
            display: none;
        }

        #arrow-svg {
            fill: rgba(#fff, .4);
            height: 25px;
        }
    }

    .slide {
        background: {
            position: center;
            size: cover;
        }
        min-height: 600px;
        
        .slide-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            background: rgba(0, 0, 0, 0.3);
            padding: 2em;
        }
    }

}

