.transisiton  {
    transition: all 1s ease;
}
a.transisiton  {
    display: inline-block;
}
.fade {
    opacity: 0;
}





//Vue transitions
.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}


.hover-grow:hover {
    transform: scale(1.1);
}