@import 'settings';

@import '~bulma/bulma';

.footer {
    padding: 3rem 1.5rem;
}

.content .no-bullet {
    list-style: none;
}


.icon-span-medium {
    vertical-align: top;
    line-height: 2;
}

.icon-span-large {
    vertical-align: top;
    line-height: 3;
}