.justify {
    display: flex;
    flex-wrap: wrap;
    .justify-item {
        margin: 2px;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }
        img {
            user-select: none;
            width: 100%;
            vertical-align: middle;
        }
    }
    &::after {
        content: '';
        flex-grow: 99999;
        min-width: calc(100vw / 4);
    }
    @media (max-width: 460px) {
        flex-direction: column;
        a {
            width: 100% !important;
        }
    }
}