
.container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.page {
    overflow-x: hidden;
}

.row {
    margin-top: 4rem;
    &.condensed {
        margin-top: 2rem;
    }
}

figure.image {
    figcaption {
        margin-top: 0.5em;
    }
}

.two-column {
    column-count: 2;
}

.content figure {
    margin: 0 0 1em 0 !important;
}

.overflow {
    overflow-x: auto;
}

.has-shadow-bottom {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.image.vertical {
    img {
        width: 60%;
    }
}

.newsletter figure.image img {
    max-height: 30rem;
    width: auto;
}