.parallax {
    position: relative;
    z-index: 0;
    overflow: hidden;
    &.min {
        min-height: 600px;
    }
}

.parallax > .parallax-img {
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translateY(var(--translateY));
    will-change: transform;
}