<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="The Tiyeni Fund encourages simple farming improvements, which can prevent hunger and help villagers to be self-sufficient.">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>The Tiyeni Fund</title>
    <style>.lds-circle-wrap{display:flex;align-items:center;justify-content:center;height:90vh}.lds-circle{display:inline-block;max-width:50%;width:51px;height:51px;margin:6px;border-radius:50%;background:#328d29;opacity:0.6;animation:lds-circle 2.4s cubic-bezier(0,.2,.8,1) infinite}@keyframes lds-circle{0%,100%{animation-timing-function:cubic-bezier(.5,0,1,.5)}0%{transform:rotateY(0)}50%{transform:rotateY(1800deg);animation-timing-function:cubic-bezier(0,.5,.5,1)}100%{transform:rotateY(3600deg)}}</style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but tiyeni.org doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"><div class="lds-circle-wrap"><div class="lds-circle"></div></div></div>
    <!-- built files will be auto injected -->
  </body>
</html>
