<template>
    <div>

        <div class="row condensed container">
            <h1 class="title is-1">404</h1>
            <p>Page not found.</p>
        </div>

        <div class="row"></div>

    </div>
</template>
