<template>
    <div class="page">
        <div class="row condensed container">
            <h1 class="title is-1">About Us</h1>

            <p>Tiyeni is a small charity organization formed in 2005. The aim of the organization is to combat hunger and poverty throughout Malawi through soil and water conservation, and through using rural farming methods enabling optimum food production from the land. Tiyeni was set up by life-long residents of Malawi who have worked to help rural communities by fostering self-sufficiency in food production. Currently, the organisation has eleven staff, ten in Malawi and one part-time in the UK. In Malawi: The Executive Director, Training Manager, Field Manager, Finance and Administration Manager, Monitoring and Evaluation Officer and five field officers. All staff are Malawi citizens. In the UK: Communications and Fundraising Coordinator.</p>
        </div>

        <div class="row condensed container">
            <h3 class="title is-3">The Team</h3>

            <div class="columns is-multiline">
                <div v-for="(person, key) in people" :key="key" class="column is-one-quarter">
                    <router-link :to="`/about/people/${key}`">
                        <div class="card">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img :src="person.picture" :alt="person.name">
                                </figure>
                            </div>

                            <div class="card-content">
                                <div class="content has-text-centered">
                                    <p class="title is-4">{{person.name}}</p>
                                    <p class="is-6">{{person.title}}</p>
                                </div>
                            </div>
                        </div>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="row container">
            <h3 class="title is-3">The Board of Trustees</h3>

            <div class="content">
                <p>
                    <strong>John Crossley</strong> - Founder of the Tiyeni Fund Charity. John was District Commissioner of Nsanje district before he divided his time between England and Malawi. Concentrating, since the food shortage of 2001 to 2003, on soil conservation as a means of achieving food security.
                </p>

                <p>
                    <strong>Elizabeth Crossley</strong>, John’s wife, has also played a major role in the foundation and establishment of Tiyeni. While she and John were working in Malawi, she was Education Officer for the Diocese of Northern Malawi. She too has helped a great many children and young people to find education and jobs over the years.
                </p>

                <p>
                    <strong>Clare Cameron</strong> - Clare spent 3 months in Malawi with the Crossleys in 2005, teaching in local schools and learning about the Tiyeni farming method as seen in the first of the demonstration gardens near Mzuzu. She is now a UK civil servant.
                </p>

                <p>
                    <strong>Colin Andrews</strong> - Current Chair of Tiyeni. He started his career in land agency and became a chartered surveyor in 1973. He visits Malawi as a regular visitor to the Tiyeni base in Mzuzu to see and to promote the soil-care system and Tiyeni methods in operation. He became a trustee of Tiyeni in June 2013.
                </p>

                <p>
                    <strong>Andrew Burrows</strong> - is also a chartered surveyor by profession with a keen interest in agriculture and the field overseas. He became a trustee in December 2013, and has been Secretary to Tiyeni Fund since April 2017.
                </p>

                <p>
                    <strong>Rupert Douglas</strong> - Bate MBA, M.Sc, B.Sc joined the Board as a trustee in 2018. He is founder and Chair of Global MapAid. He has many years’ experience in delivering solutions to poverty in the developing world and in particular Africa.
                </p>

                <p>
                    <strong>Peter Ryan</strong> - Founder and Advisor of the MicroLoan Foundation. Peter has extensive experience of Malawi, Zambia and Zimbabwe, and is passionate about helping people in a sustainable way. He was previously involved with international business start-ups in the consumer goods and software area.
                </p>

                <p>
                    <strong>Lance Stewart</strong> - Has joined as UK Treasurer of Tiyeni in 2019.
                </p>

                <p>
                    <strong>Kevin Whitchurch</strong> - Joined Tiyeni in 2019. Kevin has spent his career in media - principally in the launch, development and growth of magazines and newspapers. With wide experience of appealing and marketing to specialist, general and new audiences, Kevin’s strength is in communicating complex issues simply and attractively.
                </p>

                <p>
                    <strong>Jonathan Angliss</strong> - Joined Tiyeni in 2019.
                </p>
            </div>
        </div>

        <div class="row container">
            <h3 class="title is-3">The Malawi Board</h3>

            <div class="content">
                <p>
                    <strong>Isaac Chavula</strong> - executive director. Well qualified and respected agriculturist. Senior Tiyeni manager
                </p>
                <p>
                    <strong>Godfrey Kumwenda</strong> - executive director. Tiyeni training manager
                </p>
                <p>
                    <strong>Chance Mwenitete</strong> - executive director. Tiyeni finance manager
                </p>
                <p>
                    <strong>Macshame Mhango</strong> - chairman of the Board of Directors in Malawi. Principal of Residential Training Center MoAIWD under Mzuzu ADD
                </p>
                <p>
                    <strong>Bill S.J. Mhango</strong> - non-exec director. Diploma in Agriculture from Bunda College of the University of Malawi, and worked in the MoAIWD for 34 years.
                </p>
                <p>
                    <strong>Agnes Moyo</strong> - non-exec director. Former Director of Regional ministry of Agriculture
                </p>
                <p>
                    <strong>Macshamed Mhango</strong> - non-exec director. Senior member of regional ministry of agriculture team
                </p>
                <p>
                    <strong>Mary Gondwe</strong> - non-exec director. Former Tiyeni manager
                </p>
                <p>4 UK based non-execs (all trustees of the Tiyeni Fund) visiting Malawi at least annually.</p>
            </div>
        </div>

        <div class="row container">
            <h3 class="title is-3">Safeguarding - Protecting Adults and Children</h3>

            <div class="content">
                <p>We have a zero-tolerance policy on serious misconduct of any kind. Tiyeni has regularly reviewed safeguarding policies and is signed up to Safe CIC, an organisation that specialises in safeguarding. All those who work or volunteer with Tiyeni in the UK and Malawi are made aware of our policies and of what to do if they have any concerns.</p>
            </div>
        </div>

        <div class="row container">
            <h3 class="title is-3">Yearly Accounts</h3>

            <div class="content">
                <p v-for="year in [ 2014, 2015, 2016, 2017 ]" :key="year">
                    <a :href="`/file/accounts/accounts-${year}.pdf`" target="_blank">
                        <span class="icon is-medium has-text-danger">
                            <fa-icon :icon="['fas', 'file-pdf']" size="2x"/>
                        </span>
                        <span class="icon-span-medium">Accounts - {{year}}</span>
                    </a>
                </p>
            </div>
        </div>

        <div class="row"></div>

        <!-- <div class="row container">

            <h3 class="title is-3">Where</h3>
            <h5 class="subtitle is-5">Locations that we are active in</h5>

        </div>

        <div class="row condensed">
            <div class="map" ref="map"></div>
        </div>-->
    </div>
</template>

<script>
import people from '@/config/people';

export default {
    name: 'about',

    data() {
        return {
            people: people
        };
    }
};
</script>

<style lang="scss">
.page-about {
    .card:hover {
        box-shadow: 0 2px 3px rgba(50, 141, 41, 0.4),
            0 0 0 1px rgba(50, 141, 41, 0.4);
    }
}
</style>
