<template>
  <div>

    <div class="row condensed container">

        <h1 class="title is-1">Contact</h1>

        <div class="columns">

            <div class="column content">

                <p>Should you wish to find out more or participate in the Tiyeni projects please:</p>

                <h4>Email</h4>
                <p><a href="mailto:info@tiyeni.org">info@tiyeni.org</a></p>

                <h4>Phone</h4>
                <ul>
                    <li>Colin Andrews +44 (0) 7887 923656</li>
                    <li>Andrew Burrows +44 (0)1458 210 100; mobile 079 14 33 19 33</li>
                </ul>

                <h4>Write to:</h4>
                <div class="box">
                    <p>
                        Andrew Burrows,<br>
                        Secretary, Tiyeni Fund,<br>
                        7 Partridge Close, Greinton, Somerset TA7 9BA UK
                    </p>
                </div>

            </div>

            <div class="column">

                <form v-if="!sent" @submit.prevent="submit">

                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Full name" v-model="name" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="Email address" v-model="email" required>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea" placeholder="Message" v-model="message" required></textarea>
                        </div>
                    </div>


                    <div class="field">
                        <div class="control">
                            <button class="button is-link" :class="{'is-loading': sending }" :disabled="sending">Send</button>
                        </div>
                    </div>

                </form>

                <div v-else-if="error" class="message is-danger">
                    <div class="message-body">
                        Something went wrong. Please use the contact details to get in touch with us.
                    </div>
                </div>
                <div v-else class="message is-success">
                    <div class="message-body">
                        Message sent!
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row"></div>
  </div>
</template>

<script>
    import axios from 'axios'

    export default {

        data() {
            return {
                name: '',
                email: '',
                message: '',
                sending: false,
                sent: false,
                error: false
            }
        },

        methods: {
            submit() {

                this.sending = true

                const data = {
                    _id: 'b1y5u5u6ny',
                    name: this.name,
                    email: this.email,
                    message: this.message
                }

                axios.post('https://form.allardyce.me', data)
                    .then(response => {
                        this.sent = true
                        this.sending = false
                    })
                    .catch(error => {
                        this.error = true
                    })

            }
        }
        
    }
</script>
