<template>
    <div>
        <div class="row condensed container">
            <h1 class="title is-1">Donate</h1>
        </div>

        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds">
                    <div class="row condensed">
                        <p>To make a contribution to the Tiyeni fund please use any of the options listed below. Thank you very much for your support which is greatly appreciated and we will keep you in touch with developments in Malawi.</p>

                        <hr>

                        <h3 class="title is-3">Single online payments can be made:</h3>

                        <div class="columns">
                            <div class="column is-narrow">
                                <a
                                    href="https://donate.kindlink.com/tiyeni/189"
                                    target="_blank"
                                    rel="noopener"
                                    v-scroll
                                >
                                    <figure class="image hover-grow">
                                        <img src="/img/kindlink.png">
                                    </figure>
                                </a>
                            </div>
                            <div class="column is-narrow">
                                <a
                                    href="https://uk.virginmoneygiving.com/charity-web/charity/finalCharityHomepage.action?uniqueVmgCharityUrl=tiyeni"
                                    target="_blank"
                                    rel="noopener"
                                    v-scroll="{delay: '0.5s'}"
                                >
                                    <figure class="image hover-grow">
                                        <img src="/img/virgin-money-giving.png">
                                    </figure>
                                </a>
                            </div>
                        </div>

                        <hr>
                    </div>

                    <div class="row condensed">
                        <h3
                            class="title is-3"
                        >Send cheques drawn on a UK bank made payable to “The Tiyeni Fund” to:</h3>

                        <p>The Tiyeni Fund, 7 Partridge Close, Greinton, Somerset, TA7 9BA UK</p>

                        <hr>
                    </div>

                    <div class="row condensed">
                        <h3 class="title is-3">Direct payment to our bank:</h3>

                        <p>
                            <span class="has-text-dark">UK – Sort Code:</span> 30-97-28
                            <span class="has-text-dark">- Account Number:</span> 02217919
                        </p>
                        <p>
                            <span class="has-text-dark">International Payments - BIC:</span> LOYDGB21319
                            <span class="has-text-dark">- IBAN:</span> GB63 LOYD 3097 2802 2179 19
                        </p>
                        <p>If using this payment method, please email info@tiyeni.org as well, with details of your gift, so that we can connect each gift with a donor name.</p>

                        <hr>
                    </div>

                    <div class="row condensed">
                        <h3 class="title is-3">Standing Order:</h3>

                        <p>
                            If you wish to set up a standing order please use your name as a reference and email
                            <a href="mailto:info@tiyeni.org">info@tiyeni.org</a> with your contact details.
                        </p>

                        <hr>
                    </div>

                    <div class="row condensed">
                        <p>
                            <span class="has-text-dark">Registered Charity Number:</span> 1113274
                        </p>
                    </div>
                </div>

                <div class="column is-one-third">
                    <figure class="image">
                        <img src="/img/donate.jpg">
                    </figure>
                </div>
            </div>
        </div>

        <div class="row"></div>
    </div>
</template>
