<template>
    <div>
        <div class="row condensed container">
            <h1 class="title is-1">Gallery</h1>
        </div>

        <div class="row container">
            <p class="has-text-right">
                Photos from
                <a
                    href="https://www.flickr.com/photos/143774480@N03/"
                    target="_blank"
                    rel="noopener"
                >
                    <span class="icon">
                        <fa-icon :icon="['fab', 'flickr']"/>
                    </span>Flickr
                </a>
            </p>
            <div v-if="photos.length > 0">
                <div class="gallery" v-justify>
                    <a
                        v-for="(photo, i) in photos"
                        :key="i"
                        class="photoswipe"
                        :id="`flickr-${i}`"
                        @click="$photoswipe.open(i, photos)"
                    >
                        <img :src="photo.msrc" :alt="photo.title">
                    </a>
                </div>
            </div>
            <div v-else class="has-text-centered">
                <a class="button is-loading">Loading</a>
            </div>
        </div>

        <div class="row"></div>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    name: 'gallery',

    data() {
        return {
            API_KEY: 'aaa9c0bf5018d2e4746211f509803878',
            TIYENI_FLICKR_ID: '143774480%40N03',
            photos: []
        };
    },

    mounted() {
        axios
            .get(
                `https://api.flickr.com/services/rest/?method=flickr.people.getPublicPhotos&api_key=${
                    this.API_KEY
                }&user_id=${
                    this.TIYENI_FLICKR_ID
                }&format=json&nojsoncallback=1&extras=url_n,url_o`
            )
            .then(response => {
                this.photos = response.data.photos.photo.map(photo => {
                    return {
                        title: photo.title,
                        src: photo.url_o,
                        msrc: photo.url_n,
                        w: photo.width_o,
                        h: photo.height_o
                    };
                });
            });
    }
};
</script>