<template>
    <div class="page">
        <div class="row container condensed">
            <div class="content">
                <p>The Tiyeni charity was set up by life-long residents of Malawi, who have worked to help rural communities for many years. All the staff in Malawi are local Malawians who have a passion in saving their country from starvation. They do this by demonstrating sustainable farming practices to prevent devastating soil erosion. There are now over 10,000 farmers who have adopted partly by training from Tiyeni staff and lead farmers and partly by just copying their neighbour's. Growth of adoption levels continues exponentially.</p>

                <p>Malawi is one of the poorest countries in the world. The continuing degradation of the countryside in general and of the soil in particular constitutes a serious national crisis for Malawi. In 1997 a World Bank study of agriculture in Malawi stated that for each hectare of farmland 20 tonnes of soil were lost each year.</p>

                <p>The Tiyeni method reverses this by stopping erosion and building soil fertility. Tiyeni encourages simple farming improvements, which can prevent hunger and help villagers to be self-sufficient.</p>

                <p>Tiyeni means “Let’s go!” and our ultimate aim is to replace the need for hand-outs of money, food and fertiliser in rural districts by training farming communities and enabling them to support themselves.</p>

                <ul>
                    <li>Tiyeni values the right of a person to be able to feed his family</li>
                    <li>Tiyeni values respect for the aims and wishes of rural communities</li>
                    <li>Tiyeni values care for the soil as the basis of good husbandry</li>
                    <li>Tiyeni values conservation of the natural environment and its resources</li>
                </ul>
            </div>
        </div>

        <div class="row container has-text-centered">
            <div class="youtube">
                <iframe
                    src="https://www.youtube-nocookie.com/embed/5nggq3RePMc?showinfo=0"
                    frameborder="0"
                    allow="encrypted-media"
                    allowfullscreen
                ></iframe>
            </div>
        </div>

        <div class="row container">
            <div class="content">
                <h2 class="title is-1 has-text-centered">Spreading the method</h2>

                <p>Tiyeni works with farming communities through demonstration gardens either provided by the community at the village or by various farmers allowing their fields to be used for demonstration and training in rotation. Both methods have their merits in that a centralised garden is a perfect model of good land husbandry and for experimentation of crops, weeding regimes and cover crops whereas farmers’ fields outreach from the village to reinforce best practice.</p>

                <p>
                    Tiyeni’s motto:
                    <strong>"Look after the land and it will look after you"</strong> can be achieved only when human interaction with the environment embraces the tenets of sustainable farming methods such as the Deep Bed method.
                </p>

                <p>Tiyeni achieves its strategic goals and objectives through collaborative efforts with all relevant stakeholders in building the capacity of smallholder farmers by training them in sustainable technologies, providing them with start-up support while listening to their proposals and recognising their contribution.</p>
            </div>
        </div>

        <div class="row container">
            <div class="columns">
                <div class="column">
                    <figure class="image" v-scroll>
                        <img src="/img/thumb-1.jpg">
                        <figcaption class="has-text-centered">Non Tiyeni cobs versus Tiyeni cobs</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image" v-scroll="{delay: '0.5s'}">
                        <img src="/img/thumb-2.jpg">
                        <figcaption
                            class="has-text-centered"
                        >Digging the deep beds to reduce evaporation</figcaption>
                    </figure>
                </div>
                <div class="column">
                    <figure class="image" v-scroll="{delay: '1s'}">
                        <img src="/img/thumb-3.jpg">
                        <figcaption class="has-text-centered">Tiyeni creates a 200% increased yield</figcaption>
                    </figure>
                </div>
            </div>
        </div>

        <div class="row container">
            <div class="content">
                <h2 class="title is-1 has-text-centered">Companies</h2>

                <p>
                    We are looking for companies to join us in
                    <strong>corporate partnership</strong> to support our work and make a positive contribution to the lives of the people in Malawi. We know this small and manageable charity punches way above its weight. Due to virtually no administration costs, everything goes to Malawi where it is carefully accounted for.
                </p>

                <p>
                    There are several ways in which your company can help. Boost your
                    <strong>corporate social responsibility</strong> with
                    <strong>active engagement</strong> to support our staff in Malawi from the UK. Why not get a group of your colleagues or employees to enter a fundraising event? Support our work as a
                    <strong>corporate sponsor</strong>. Tiyeni will work closely with you, matching your desired scope of involvement and meeting your business objectives. Visits to our staff in rural Malawi, where you can see how effective the team is, are also very welcome. To discuss further please email
                    <a href="mailto:info@tiyeni.org">info@tiyeni.org</a>.
                </p>
            </div>
        </div>

        <div class="row">
            <agile>
                <div class="slide" style="background-image: url('/img/slide-1.jpg')">
                    <div class="slide-content content has-text-light">
                        <h2
                            class="has-text-weight-bold is-size-1 is-size-2-touch has-text-light"
                        >The Method</h2>

                        <p
                            class="is-size-4 is-size-5-touch"
                        >Find out more about The Tiyeni Method. Read in depth about best practices and the latest techniques.</p>

                        <div class="field">
                            <router-link class="button is-outlined is-light" to="/method">The Method</router-link>
                        </div>
                    </div>
                </div>

                <div class="slide" style="background-image: url('/img/slide-2.jpg')">
                    <div class="slide-content content has-text-light">
                        <h2
                            class="has-text-weight-bold is-size-1 is-size-2-touch has-text-light"
                        >Our People</h2>

                        <p class="is-size-4 is-size-5-touch">See who helps run The Tiyeni Fund.</p>

                        <div class="field">
                            <router-link class="button is-outlined is-light" to="/people">Our People</router-link>
                        </div>
                    </div>
                </div>

                <div class="slide" style="background-image: url('/img/slide-3.jpg')">
                    <div class="slide-content content has-text-light">
                        <h2
                            class="has-text-weight-bold is-size-1 is-size-2-touch has-text-light"
                        >Updates</h2>

                        <p
                            class="is-size-4 is-size-5-touch"
                        >Read our latest newsletters and find out what we've been up to.</p>

                        <div class="field">
                            <router-link class="button is-outlined is-light" to="/news">News</router-link>
                        </div>
                    </div>
                </div>
            </agile>
        </div>

        <div class="row container has-text-centered">
            <div class="content">
                <h2 class="title is-1">Donate</h2>
                <h5 class="subtitle is-5">Choose a method to donate</h5>
            </div>

            <div class="columns donation-links">
                <div class="column">
                    <a
                        href="https://uk.virginmoneygiving.com/charity-web/charity/finalCharityHomepage.action?uniqueVmgCharityUrl=tiyeni"
                        target="_blank"
                        rel="noopener"
                        v-scroll
                    >
                        <figure class="image hover-grow">
                            <img src="/img/virgin-money-giving.png">
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a
                        href="https://donate.kindlink.com/tiyeni/189"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '0.5s'}"
                    >
                        <figure class="image hover-grow">
                            <img src="/img/kindlink.png">
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <router-link to="/donate" v-scroll="{delay: '1s'}">
                        <figure class="image hover-grow">
                            <img src="/img/donate-direct.png">
                        </figure>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="row">
            <section class="hero is-medium is-primary is-bold">
                <div class="hero-body">
                    <div class="container has-text-centered">
                        <div class="content">
                            <h2 class="title is-2">Join Us</h2>
                            <p
                                class="is-size-5"
                            >There's no better time than now to help out. Contact us to see find out how.</p>
                            <router-link
                                class="button is-outlined is-large is-light"
                                to="/contact"
                            >Get involved</router-link>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="row container">
            <div class="content">
                <h2 class="title is-1 has-text-centered">Our Supporters</h2>

                <p
                    class="has-text-centered"
                >We are reliant on the generosity of individuals and organisations to provide the services and support we do to Malawian communities. We are very grateful to our all current and past supporters, including the current donors below.</p>
            </div>

            <div class="columns">
                <div class="column">
                    <a
                        href="https://www.national-lottery.co.uk/"
                        target="_blank"
                        rel="noopener"
                        v-scroll
                    >
                        <figure class="image hover-grow">
                            <img src="/img/supporter/national-lottery.jpg">
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a
                        href="https://www.thefore.org/"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '0.5s'}"
                    >
                        <figure class="image hover-grow">
                            <img src="/img/supporter/the-fore.png">
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a
                        href="http://www.evancornishfoundation.org.uk/"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '1s'}"
                    >
                        <figure class="image hover-grow">
                            <img src="/img/supporter/ecf.png">
                        </figure>
                    </a>
                </div>
                <div class="column">
                    <a
                        href="http://beta.charitycommission.gov.uk/charity-details/?subid=0&regid=1164956"
                        class="supporter"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '1.5s'}"
                    >
                        <figure class="supporter image hover-grow">
                            <img src="/img/supporter/jug-of-oil.png">
                        </figure>
                    </a>
                </div>
                <div class="column is-flex">
                    <a
                        href="http://www.wssociety.co.uk/charities/cruach-trust/"
                        class="supporter"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '2s'}"
                    >
                        <div class="supporter-name hover-grow">The Cruach Trust</div>
                    </a>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <a
                        href="https://greenhallfoundation.org/"
                        class="supporter"
                        target="_blank"
                        rel="noopener"
                        v-scroll
                    >
                        <figure class="supporter image hover-grow">
                            <img src="/img/supporter/green-hall-foundation.png">
                        </figure>
                    </a>
                </div>
                <div class="column is-flex">
                    <a
                        href="http://beta.charitycommission.gov.uk/charity-details/?regid=1141874&subid=0"
                        class="supporter"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '0.5s'}"
                    >
                        <div class="supporter-name hover-grow">The Belacqua Charitable Trust</div>
                    </a>
                </div>
                <div class="column is-flex">
                    <a
                        href="http://www.austinbaileyfoundation.org/"
                        class="supporter"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '1s'}"
                    >
                        <div class="supporter-name hover-grow">The Austin Bailey Foundation</div>
                    </a>
                </div>
                <div class="column is-flex">
                    <a
                        href="http://beta.charitycommission.gov.uk/charity-details/?regid=1134766&subid=0"
                        class="supporter"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '1.5s'}"
                    >
                        <div class="supporter-name hover-grow">The Green Room Charitable Trust</div>
                    </a>
                </div>
                <div class="column">
                    <a
                        href="https://www.zurich.co.uk/zurichcommunitytrust/"
                        class="supporter"
                        target="_blank"
                        rel="noopener"
                        v-scroll="{delay: '2s'}"
                    >
                        <figure class="supporter image hover-grow">
                            <img src="/img/supporter/zurich.jpg">
                        </figure>
                    </a>
                </div>
            </div>

            <div class="content"></div>
        </div>

        <div class="row"></div>
    </div>
</template>

<style lang="scss">
@import '@/styles/_settings.scss';
.page-home {
    .tiyeni-animation {
        min-height: 40em;
    }
    .supporter {
        width: 100%;

        .supporter-name {
            display: flex;
            text-align: center;
            justify-content: center;
            background: $light;
            font-weight: 700;
            color: $primary;
            width: 100%;
            height: 100%;
            align-items: center;
            padding: 2rem;
        }
    }
}
</style>
