<template>
    <div class="page">

        <div class="row condensed container">
            <h1 class="title is-1 has-text-centered">The Tiyeni Method</h1>
        </div>

        <div class="row container">
            <div class="columns">
                
                <div class="column">
                    <div class="has-text-centered" v-scroll>
                         <span class="has-text-danger">
                            <fa-icon :icon="['fas', 'exclamation']" size="6x" />
                        </span>
                        <hr>
                        <h3 class="title">The Causes</h3>
                        <ul>
                            <li>Soil erosion</li>
                            <li>Water loss</li>
                            <li>Burning</li>
                            <li>Falling soil fertility</li>
                        </ul>
                    </div>
                </div>
                
                <div class="column">
                    <div class="has-text-centered" v-scroll="{delay: '0.5s'}">
                         <span class="has-text-warning">
                            <fa-icon :icon="['fas', 'wrench']" size="6x" />
                        </span>
                        <hr>
                        <h3 class="title">The Solution</h3>
                        <ul>
                            <li>Contour ridges with closed ends</li>
                            <li>Deep and wide beds with zero tillage</li>
                            <li>Soil never compacted</li>
                            <li>Mulching not burning</li>
                        </ul>
                    </div>
                </div>
                
                <div class="column">
                    <div class="has-text-centered" v-scroll="{delay: '1s'}">
                         <span class="has-text-success">
                            <fa-icon :icon="['fas', 'check']" size="6x" />
                        </span>
                        <hr>
                        <h3 class="title">The Effect</h3>
                        <ul>
                            <li>Ever increasing soil fertility</li>
                            <li>Food security in rural villages</li>
                            <li>Surpluses provide farm income</li>
                            <li>Foreign Food Aid programmes reduced</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>


        <div class="row container">
            <div class="content">
                <p>The UK Government gave $22 million in late 2013 for emergency feeding. Food aid without sustainable farming is temporary and is not a real solution to the problem. Tiyeni provides a long term sustainable alternative for far less money.</p>                
            </div>
        </div>

        <div class="row min" v-parallax>
            <img class="parallax-img" src="/img/farming-6.jpg" />
        </div>
        

        <div class="row container overflow">

            <h3 class="title">Tiyeni Method Steps</h3>

            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                <tbody>
                    <tr>
                        <th>Stage</th>
                        <th>Activity</th>
                        <th>Detail</th>
                        <th>Benefit</th>
                    </tr>
                    <tr v-scroll>
                        <td>1</td>
                        <td>Create the marker ridges</td>
                        <td>By careful measurement with a line level the marker ridges are created exactly on the contour lines at intervals down the slope</td>
                        <td>This method gives a really clear line to work with and will prevent water erosion</td>
                    </tr>
                    <tr v-scroll>
                        <td>2</td>
                        <td>Reinforce the marker ridges</td>
                        <td>Vetiver grass is a noninvasive deep-rooted grass planted to stablilise the marker ridge.</td>
                        <td>Vetiver grass is a miracle plant used throughout the developing world and is essential to help to create stable marker ridges and mulching opportunities</td>
                    </tr>
                    <tr v-scroll>
                        <td>3</td>
                        <td>Create the holding ditch</td>
                        <td>Above the marker ridge a ditch 0.5 metres wide with closed ends becomes a holding reservoir after heavy rain</td>
                        <td>This stops erosion, and by holding the water above the bed, allows the water to reach the crop roots through slow percolation into the subsoil</td>
                    </tr>
                    <tr v-scroll>
                        <td>4</td>
                        <td>Breaking the "hard pan"</td>
                        <td>At 1 hoe depth where land has been continuously farmed, the hard pan under the topsoil will be broken up with forks and pick axes creating a deeper topsoil</td>
                        <td>The hard pan stops water and crop roots from going deeper. By breaking it up there is less chance of erosion and the crops will be more robust to deal with a dry spell</td>
                    </tr>
                    <tr v-scroll>
                        <td>5</td>
                        <td>Making the deep beds</td>
                        <td>Deep beds about 1m wide are created reducing evaporation. These will never be trodden on again</td>
                        <td>The old ridge and furrow method has a high surface area leading to evaporation. Digging each year is not necessary if the soil is not trodden on</td>
                    </tr>
                    <tr v-scroll>
                        <td>6</td>
                        <td>Planting the beds</td>
                        <td>The beds are wide enough for 2 rows of maize and for interplanting of other crops</td>
                        <td>Inter-planting can complement the crops and help with pests and diseases. Yields are significantly higher and last longer</td>
                    </tr>
                    <tr v-scroll>
                        <td>7</td>
                        <td>Weeding and mulching</td>
                        <td>The weeds are cut or pulled up and laid on the surface. Crop residues and chopped vetiver grass are also laid. Nothing is ever burned</td>
                        <td>Reduces evaporation and soil heat and builds organic content of the soil. Weeding is lighter work than digging. Whole families can help</td>
                    </tr>
                    <tr v-scroll>
                        <td>8</td>
                        <td>Companion planting</td>
                        <td>Maize is planted interspersed with beans, pumpkin kale and other local crops making full use of thewide beds</td>
                        <td>The legumes nitrogenate the soil, consecutive cropping lengthens the cropping season and increases food variety and nutrition</td>
                    </tr>
                    <tr v-scroll>
                        <td>9</td>
                        <td>Composting</td>
                        <td>Excess foliage, crop residues ash. Charcoal maize husks etc are put into compost heaps with additives where soil is depleted. Animal (nitrogenous) waste is added to help the composting process</td>
                        <td>As produce is being taken from the land in the form of food it is essential that nutrients are replenished and balanced through composting</td>
                    </tr>
                    <tr v-scroll>
                        <td>10</td>
                        <td>Pigs</td>
                        <td>Each village is given a pig/goat by Tiyeni and and the progeny are given to farmers within the village. The animal waste is used in compost</td>
                        <td>This programme binds the village together as all are interested in the successful breeding programmes</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="row container">
            <h3 class="title">The Details</h3>
            <p class="content">
                <a class="button is-info is-outlined" href="/pdf/tiyeni-explained.pdf" target="_blank">
                    <span class="icon">
                        <fa-icon :icon="['fas', 'file-pdf']" />
                    </span>
                    <span>
                        The Tiyeni Fund Explained
                    </span>
                </a>
            </p>

            <div class="content">

                <h3>Address to Tropical Agriculture Association - 8 January 2015 given by Colin Andrews Trustee</h3>


                <h4>1.0 Introduction.</h4>

                <p>Good afternoon ladies and gentlemen. I will be very brief so that I do not disturb your very busy day, but I have a very short talk to give about Tiyeni. Tiyeni in Chewa, the national language of Malawi, means “Let’s go!” and this refers to the aim of this small UK charity that punches way above its weight.</p>

                <p>Firstly though, some facts: Malawi is the 5th poorest country in the world added to which it has no meaningful natural resources. Well I say that, but it is not true. It is a beautiful country at the southern end of the Great Rift Valley of Africa with a very productive and important lake and a kindly, peaceful population. Its people, its soil and its water are its natural resources!</p>

                <p>Unfortunately, with a growing population and limited land resources and falling fertility, disaster is never far away – the worst of all disasters in some ways - when you have a whole country unable to feed itself. Of course the West steps in with aid* which treats the symptoms but not the diseases. Let me show you 2 of the most obvious and destructive of these diseases!</p>

                <p>Firstly, the World Bank made a study of Malawi in the 1990s and reported than ON AVERAGE each hectare of farmed land loses 20 tons of topsoil a year. Yes 20 tons!! And have thing improved since that information came to light? Hardly at all! The soil just does not produce the crops it used to. Secondly, the population has doubled in the last 30 (check it!!) years and is set to double again in the next 30 years. Thirdly, there are not enough replacement nutrients being put back into the soil so it is becoming increasingly unproductive.</p>

                <p>Full scale erosion can be seen on virtually every farm in Malawi, and whenever there is rain the rivers run thickly with mud and silt from the upper lands. Thin and sickly crops can be seen in every district of Malawi and although farmers complain of lack of rain and fertiliser, it is clear that the causes of these failed crops is the way the land is being farmed.</p>


                <p class="is-italic">*In November 2013, UK donated $22,000,000 to alleviate hunger in Malawi. This was blamed on climate change and failed rains but with proper farming methods much of this would have been unnecessary</p>


                <h4>2.0 How Tiyeni was born.</h4>

                <p>So about 10 years ago, John Crossley realised that this was a one way street to food poverty and something must be done about it. He looked at the huge numbers of agricultural charities that are doing so much good work in Malawi and he realised that the core diseases were not being challenged.</p>

                <p>He took analysis from a well known agronomist who had worked in Malawi for many years, Francis Shaxson and a Malawian horticulturist, S C M Kabuba who was doing excellent work in a farming project in Karonga, Malawi.</p>

                <p>Francis’s long term and highly regarded work addressed soil structure and the way that many forms of farming damage the structure on which the crops rely. This particularly addressed the issue of soil compaction. With heavy machinery or constant treading, layers of many types of soil become so compacted that water cannot penetrate it and nor can crop roots.</p>

                <p>Mr Kabuba’s work centred upon mulching, composting, rainwater harvesting and companion planting. This focussed on depleted soils and how to rebuild fertility. If you take out more than you put in (be it organic material, water or fertiliser), fertility will fall continually. If you do the reverse then it will rise continually. If you balance inputs and outputs you have a truly sustainable soil.</p>

                <p>So these two farming technologies were brought together to solve those two huge farming problems in Malawi</p>

                <ul>
                    <li>Erosion resulting in loss of top soil on the slopes and flooding and silting in the valleys.</li>
                    <li>Falling fertility and failing crop yields,</li>
                </ul>

                <p>And in just a few words... “look after the land and it will look after you”.</p>

                <figure class="image">
                    <img src="/img/method-1.jpg">
                </figure>


                <h4>3.0 The Tiyeni system and how it works</h4>

                <p>In order for any project to be sustainable, in is critical that the participants own the project. We have all heard of those disastrous, but well-meaning initiatives which are imposed on people Due to what afterwards looks like bribes, these seem to succeed until just after the bribes stop coming in and then all goes back to square one. Most well thought out schemes do not do this but you would be surprised at just how prevalent these projects are – I call them IMPOSED initiatives. Frankly, they are unsustainable and therefore probably a waste of time effort and money. So although I shall start by explaining the successful physical elements of the Tiyeni system, it is ineffective unless the sociological elements work correctly.</p>

                <h5>3.1 Physical elements.</h5>

                <p>You start by very accurately digging a 0.5 m bank along the contour line with a ditch 0.5 m high uphill of it. Using a line level you make sure the bank is exactly level – 1% off level will not do! You close the end of this holding ditch so that the water stays in it and percolates through the subsoil instead of the surface. You plant Vetiver grass into the top of the bank to strengthen it. This becomes a marker ridge and there will be others down the slope at intervals depending upon gradient.</p>

                <p>Next you break up the hardpan underneath the ridges and in the furrows to a depth of about 0.5m. You bank up the soil once this is done, into beds that are 1.0 m wide. The land is ready for planting. Each single seed (we do not agree with the normal practice of putting 3 seeds into each hole!) of Maize is planted at the correct intervals with a little Bockash** to help it on its way. Organic material is laid on the soil surface or initially it can be dug in. Indeed this is always an option, particularly if the vegetation is still moist and green. The key thing from now on is always mulch on the surface, pull the weeds out by hand and lay them on the surface (ideally at the beginning of the day so that the sun dries out the roots), never use burning methods on old vegetation and never NEVER tread on those beds again!</p>

                <p>So this is the core of the system to which should be added the important elements of compost, animal manure, inter-planting of sweet potato, ground nuts and legumes and consecutive planting as the maize grows to shade the land or just as it is harvested (with the stems and leaves of the maize being folded in the soil or laid on top as mulch). In addition, crop rotation is essential.</p>

                <p class="is-italic">**Bockash is a mixed compost where various elements and additions in it are carefully measured and mixed. It includes a small amount of fertiliser</p>


                <figure class="image">
                    <img src="/img/method-2.jpg">
                    <figcaption>Tevious Banda with her farm showing deep beds and water retention</figcaption>
                </figure>

                <h5>3.2 The results</h5>

                <div class="columns">
                    <div class="column">
                        <p>What this system does is:-</p>

                        <ul>
                            <li>stops water running downhill keeping it in the holding ditches;</li>
                            <li>allows water to percolate into the subsoil where the crop roots are;</li>
                            <li>replenishes the water table (aquifers);</li>
                            <li>allows roots to grow deep and reach for the subsoil;</li>
                            <li>allows termites to take dry cellulose down into the ground and fertilise it;</li>
                            <li>lowers the day temperature of the soil in the beds;</li>
                            <li>reduces evaporation though lower surface area and the cloaking effect of mulch;</li>
                            <li>prevents or substantially reduces flooding and silting in the stream and river valleys;</li>
                            <li>stops soil from being carried downhill and into the rivers;</li>
                            <li>builds fertility in the soil;</li>
                            <li>helps to prevent disease through rotation of crops;</li>
                            <li>puts nitrates back into the soil by inter-planting legumes;</li>
                            <li>increases crop yields very substantially and continually;</li>
                            <li>reduces labour input after the first year due to reduced digging;</li>
                            <li>spreads the workload across the whole family by all pulling the weeds and mulching;</li>
                            <li>encourages all the farmers nearby to adopt the system to increase their food security;</li>
                        </ul>
                    </div>
                    <div class="column">
                        <figure class="image" style="max-width: 400px">
                            <img src="/img/method-3.jpg">
                            <figcaption>Root lengths and cob sizes differed between non-TF maize (28cm) and TF (41cm)</figcaption>
                        </figure>
                    </div>
                </div>

                <h5>3.3 The sociological elements</h5>

                <p>The whole Tiyeni staff is Malawian and they are all born and bred in the area. Their job is to educate, train and support local villagers and individual farmers who take on the Tiyeni method. They do not, and they will not, preach unasked to farmers or go out into the communities to lecture farmers unasked on the Tiyeni method. Indeed, all of them consider that this would be counterproductive and reminiscent of the colonial style preaching of farming methods which is looked back at with so much unpopularity over the years.</p>

                <h5>3.4 Adoption of Tiyeni by a village</h5>

                <p>For a village to adopt the Tiyeni method they have to approach the Tiyeni staff at which point there is a meeting in the village. The village will have to provide land for a demonstration garden plus 15 – 20 volunteers who will include a Chair, Secretary, Treasurer and a committee. (Indeed our latest village to join is starting with 36 – with a good gender balance). They will have to undertake to set up and maintain this demonstration garden for as long as they want the guiding support from Tiyeni staff. They will have to agree that much of the produce from the demonstration garden will go to feed the orphans in the village and also to feed the pupils at any nursery school that is constructed later.</p>


                <figure class="image">
                    <img src="/img/method-4.jpg">
                    <figcaption>Village group showing their very productive demonstration garden near Mzuzu</figcaption>
                </figure>


                <h5>3.5 Tiyeni in the village</h5>

                <p>In return, Tiyeni will agree to carry out the training of the farmers, provide pickaxes, hoes, a line level and the 1st year’s seeds and fertiliser and provide continual and regular guidance to the group. Once the demonstration garden is well established, each village will be provided with a pig sty and a pig and the dung from this will be used in the demonstration garden and when the pig farrows, the piglets will be distributed round the village by the committee.</p>

                <p>The staff will also offer continued support and training for Extension Farmers who want to take The Tiyeni method on to their own land. Out of these extension farmers, a few who excel at their own farms and who have good communication skills become Lead Farmers whose job it is to assist other extension farmers and to help occasionally at Tiyeni training courses. The village centre then keeps a supply of spare pickaxes, hoes and line levels to lend out to new extension farmers in the area surrounding the village.</p>

                <p>In some cases, where specific sponsorship is given by donors, Tiyeni will be able to organise for a school to be built in the village and to pay for a teacher in that nursery school.</p>

                <h5>3.6 The results</h5>

                <p>Once the Tiyeni “contract” between the village and Tiyeni is in place, the next 2 years are critical for the development of the relationship but more importantly the sociological change that is engendered in the  village. At the end of the 2 years, the village continues a relationship with Tiyeni staff on the basis of monitoring or advice. What we have notice in the 16 villages active in 2014 was:-</p>

                <ul>
                    <li>A very strong village “esprit de corps” evidenced by harmonious work being done by the villagers in developing and maintaining the demonstration garden</li>
                    <li>An increasingly higher crop yield from the garden, with much of the crop being used to help the orphans and young children in the village</li>
                    <li>A steady growth of extension farmers taking the Tiyeni method of husbandry into their own farms and asking for guidance and monitoring from Tiyeni staff</li>
                    <li>Lead farmers coming forward from the extension farmers who become spokespersons for the Tiyeni method to others villages and outlying farmers</li>
                    <li>Increasing number of villages and farmers approaching Tiyeni to request training in the Tiyeni method in their areas</li>
                </ul>


                <h4>4 The Future</h4>

                <p>The technology works and the results are impressive:-</p>
                
                <ul>
                    <li>Yields more than double in the first year in most cases and continuing to increase thereafter.</li>
                    <li>Less work because digging is not needed after the first year.</li>
                    <li>Huge demand for training from farmers who have seen the results.</li>
                    <li>Enthusiastic farmers promoting the method to their neighbours.</li>
                </ul>
                
                <p>However, it is essential that the farmers “stay on message” because the Tiyeni system works by bring ALL the elements of the system together. Get one of the elements wrong and it does not work so well. Tiyeni must be vigilant to ensure that when farmers say they have adopted the Tiyeni method, that they are doing it properly. Farmers must “do it all or not at all”!</p>

                <p>This means Tiyeni must manage growth to ensure that the Tiyeni system is not weakened by poor practices creeping in. So the aim of Tiyeni is NOT to train every farmer in Malawi but to promote the method of land husbandry to other organisations and government. This programme is now underway and will include:-</p>

                <ul>
                    <li>Setting up demonstration gardens in Ministry of Agricultural centres and running training courses there</li>
                    <li>Running open days for any farmer or interested party to come and learn about the Tiyeni method Running specific 4 day courses for local and regional farmers to learn the detail of how to set up a demonstration garden and why</li>
                    <li>Running courses for other organisations interested in land husbandry</li>
                    <li>Running courses at University and Colleges to promote the Tiyeni method</li>
                    <li>Partnering other organisations and colleges for joint studies into subsistence farming in Malawi</li>
                    <li>Linking with wet land organisations and agro forestry organisation to manage the whole functional landscape</li>
                </ul>

                <p>And so on...</p>

                <h4>5 Conclusion.</h4>

                <p>Well ladies and gentlemen; you can see that I am extremely confident in the Tiyeni system of land husbandry. Of course there remain many other problems in Malawi which this does not address, but before those problems are solved you have to get the land right and producing sustainable crops. Once the rural villages and families are fed properly they can apply their time and thinking on to other very  important things such as health and education, aspirations and ambitions. Tiyeni takes them out of food insecurity.</p>

                <p>We will need help and support from other organisations, and more studies into the science of why this method is so successful and how it can be adopted by other farmers elsewhere in Malawi and indeed anywhere where the problems of erosion, soil depletion and compaction occur.</p>

            </div>
            <!-- <c-pdf :pdf="require('@/assets/pdf/tiyeni-explained.pdf')" /> -->
        </div>

        <div class="row"></div>

    </div>
</template>

<script>
import CPdf from '@/components/c-pdf'

export default {
    components: { CPdf },
    name: 'method'
};
</script>

<style lang="scss">

</style>
