<template>
    <div>

        <div class="row condensed container">
            <h1 class="title is-1">News</h1>
        </div>

        <div class="row container condensed">

            <div class="columns">
                <div class="column is-narrow">

                    <div v-for="(newsletter, i) in news" :key="`newsletter-${i}`" class="document" :class="{ 'is-active': $route.path === newsletter.url}">
                        <router-link :to="`${newsletter.url}`">
                            <span class="icon is-large has-text-info">
                                <fa-icon :icon="['far', 'newspaper']" size="2x" />
                            </span>
                            <span class="icon-span-large">
                                {{newsletter.title}}
                            </span>
                        </router-link>
                    </div>

                </div>

                <div class="column">
                    <router-view></router-view>
                </div>

            </div>

        </div>
        <div class="row"></div>
    </div>
</template>
<script>
    import news from '@/config/news'

    export default {

        data() {
            return {
                news: news
            }
        },

        mounted() {
            if (this.$route.path === '/news') {
                this.$router.replace(this.news[0].url);
            }
        },

        watch: {
            '$route' (to, from) {
                if (to.path === '/news') {
                    this.$router.replace(this.news[0].url);
                }
            }
        }

    }
</script>
<style lang="scss">
    @import '@/styles/_settings.scss';
    .page-news {
        .document {
            padding-right: 0.5em;
            &.is-active {
                background: #f1f2f3;
            }
        }
        .newsletter-header {
            background: $primary;
            color: $light;
            padding: 1em;
            margin-bottom: 1em;
        }
    }
</style>
