<template>
    <div>

        <div class="row condensed container">
            <h1 class="title is-1">The Team</h1>
        </div>

        <div class="row container">

            <div class="columns is-multiline">

                <div v-for="(person, key) in people" :key="key" class="column is-one-quarter">

                    <router-link :to="`/about/people/${key}`">

                        <div class="card">

                            <div class="card-image">
                                <figure class="image is-4by3">
                                    <img :src="person.picture" :alt="person.name">
                                </figure>
                            </div>

                            <div class="card-content">

                                <div class="content has-text-centered">
                             
                                    <p class="title is-4">{{person.name}}</p>
                                    <p class="is-6">{{person.title}}</p>
                                </div>
                            </div>

                        </div>

                    </router-link>

                </div>

            </div>

        </div>

        <div class="row"></div>
    </div>
</template>
<script>
import people from '@/config/people'
export default {
    data() {
        return {
            people: people
        }
    }
}
</script>
<style>
    .page-people .card:hover {
        box-shadow: 0 2px 3px rgba(50, 141, 41, 0.4), 0 0 0 1px rgba(50, 141, 41, 0.4)
    }
</style>
