<template>
    <div class="page-people-drilldown">

        <div class="container">

            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><router-link to="/about/people">People</router-link></li>
                    <li class="is-active"><router-link to="">{{person.name}}</router-link></li>
                </ul>
            </nav>

        </div>

        <div class="row container">

            <article class="media">
                <div class="media-content">
                    <h2 class="title is-2">{{person.name}}</h2>
                    <h4 class="subtitle is-4">{{person.title}}</h4>
                    <div class="content" v-html="person.description"></div>
                </div>
                <figure class="media-right">
                    <p class="image profile-picture">
                        <img :src="person.picture" :alt="person.name">
                    </p>
                </figure>
            </article>

        </div>

        <div class="row"></div>
    </div>
</template>
<script>
import people from '@/config/people'
export default {
    data() {
        return {
            person: people[this.$route.params.person]
        }
    },
    mounted() {
        if (!this.person) this.$router.replace('/people');
    }
}
</script>
<style>
    .page-people-drilldown .breadcrumb {
        margin-top: 1em;
        margin-bottom: -3em;
    }
    .page-people-drilldown .profile-picture {
        width: 400px;
    }
</style>
