<template>
    <div>

        <div class="row condensed container">

            <h1 class="title is-1">Privacy Policy</h1>

            <div class="content">

                <p>Tiyeni ("We") are committed to protecting and respecting your privacy and to making only responsible use of your data.</p>
                
                <p>1.	Information about you</p>

                <p>1.1	We will collect personal information from you when you or your organisation fill in forms on our site www.tiyeni.org ("our site"). This includes information you provide when subscribe to our email newsletters, complete our contact form or request to set up a standing order. The information you provide to us may include your name, organisation name, address, e-mail address, phone number, or bank information.</p>

                <p>1.2	If you contact us, we may keep a record of that correspondence.</p>
                
                <p>2.	Cookies and website statistics</p>

                <p>2.1 We collect website analytics information. This is statistical data about our users' browsing actions and patterns when using our site and does not identify any individual.</p>
                
                <p>3.	Use of this information</p>
                <p>3.1	Your personal information will only be used to process your requests, and to provide you with information relating to our charity work. </p>
                <p>3.2	We will never pass your information onto another organisation.</p>
                <p>3.3	Whenever we collect or process your personal data, we’ll only keep it for as long as is necessary for the purpose for which it was collected.</p>
                <p>3.4	At the end of that retention period, your data will either be deleted completely or anonymised, for example by aggregation with other data so that it can be used in a non-identifiable way for statistical analysis</p>
                
                <p>4.	Your rights</p>
                <p>4.1	You have the right to access information held about you. You can request access to the information we hold on you by contacting us at info@tiyeni.org.</p>
                <p>4.2	If you would like us to correct or update any information, or if you would like information deleted from our records, then please email us at info@tiyeni.org 
                This privacy policy may be updated from time to time, so please check it periodically.</p>
                
            </div>

        </div>

        <div class="row"></div>

    </div>
</template>
