<template>
    <div>
        <div class="row condensed container">
            <h1 class="title is-1">Videos</h1>

            <div class="content">
                <p>
                    Visit our
                    <a
                        href="https://www.youtube.com/channel/UCarkbM2rb02WC8CZm5RIrvQ"
                        target="_blank"
                        rel="noopener"
                        class="button is-danger is-small"
                    >YouTube Channel</a> for more videos.
                </p>
            </div>
        </div>

        <div class="container row">
            <div class="columns is-multiline">
                <div
                    v-for="(video, i) in videos"
                    :key="i"
                    class="column is-one-third-tablet video-thumbnail"
                >
                    <h3 class="title">{{video.title}}</h3>
                    <div class="youtube">
                        <iframe
                            :src="`https://www.youtube-nocookie.com/embed/${video.url}?showinfo=01`"
                            frameborder="0"
                            allow="encrypted-media"
                            allowfullscreen
                        ></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="row"></div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            videos: [
                {
                    title: 'Crops Flourishing in Madisi, Malawi',
                    url: 'zJhaW-SzzDU'
                },
                { title: 'Vetiver Grass Planting Malawi', url: '-yzH-tJUvek' },
                { title: 'Vetiver Grass Planting Malawi', url: 'aPl-2XJ4YVI' },
                { title: 'Madisi in Malawi Farmer Fields', url: 'uQXA70c8yNw' },
                { title: 'Soil Erosion Malawi', url: 'dSYsKC_fhZ4' },
                { title: 'Transforming Farming in Malawi', url: 'VZmHMcJeIFQ' },
                { title: 'Ground Nut Growing in Malawi', url: '2TOyrA8pMx4' },
                { title: 'Flooding in Malawi', url: 'k796fAKBY0g' },
                { title: 'Feeding the Soil in Malawi', url: 'FcmSn-JMxrs' },
                {
                    title: 'Malawi Water Capture in Farming',
                    url: 'SeNNMF4pLKI'
                },
                {
                    title:
                        'Matuli Lead Farmer talks about Tiyeni Fund Differences',
                    url: 'MqJ9UtlA8Gk'
                },
                {
                    title: 'Mr Kamanga is Interested to Learn Tiyeni',
                    url: 'auibvvox6b0'
                },
                {
                    title: 'Importance of Marker Ridges and Vetiver Grass',
                    url: 'wlRj46FiOgE'
                },
                { title: 'Interview with Tevious Banda', url: '1tANqxKOF5k' },
                { title: 'Farmer', url: '5o_RlAmD9IU' },
                {
                    title: 'Farmer Interview by Tiyeni Training Manager',
                    url: 'cBtaOdxa_XI'
                },
                { title: 'Executive Director Interview', url: 'ezLMYy2sLho' },
                { title: 'Executive Director Appeal', url: 'L0HeErQ397g' },
                { title: 'Worker Interview', url: 'Ei8VaCLKVX4' },
                { title: 'Breaking the Hardpan', url: 'N6Qv1DbexVM' },
                { title: 'Pit Manure 1', url: '86vzgJa7RTw' },
                { title: 'Pit Manure 2', url: '1TPDu-QKWLM' },
                { title: 'Holly Tett Visit', url: 'bjPqIFy717Q' },
                { title: 'Land Pegging', url: 'e2x9lFjeidw' },
                { title: 'Marker Ridge Construction', url: 'NGsh0RtNnoM' },
                { title: 'Marker Ridge Construction 2', url: 'd3acLWkYKz8' },
                {
                    title: 'A Tiyeni trained farmer field in Malawi',
                    url: 'XOdlHxqK4E0'
                },
                { title: 'A Tiyeni farmer in Malawi', url: 'Lto4b9DztDs' },
                {
                    title: 'Tiyeni Executive Director Isaac',
                    url: 'sPbB0C5m2dI'
                },
                { title: 'A Tiyeni Deep Bed in Malawi', url: '8eTEBJWM9KU' },
                { title: 'In a Deep Bed!', url: 'OYFlUkmMF1M' },
                {
                    title: 'Farming with Tiyeni to double the crop',
                    url: 'Mi4HqLMkr7g'
                },
                { title: 'Pumpkin cover crop', url: 'HgsWPY1IfG4' },
                { title: 'Farmer demo Mzimba South', url: '1_Q-nruipBk' },
                {
                    title: 'Growing Vetiver grass in Malawi',
                    url: 'jSqTvb5DmJE'
                },
                {
                    title: "Touring Ms Chima's farm in Malawi",
                    url: 'gzQyfBMOP2s'
                },
                {
                    title: 'Farming success with Ms Chima, Malawi',
                    url: 'U5FGhX-I_2k'
                },
                {
                    title: 'Water harvesting with Tiyeni farming',
                    url: 'VXyzyzWNERA'
                }
            ]
        };
    }
};
</script>

<style>
.column.video-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
</style>
