<template>
    <footer class="footer">
        <div class="section container">
            <div class="columns">

                <div class="column">
                    <router-link to="/">Home</router-link> | 
                    <router-link to="/method">Method</router-link> | 
                    <router-link to="/gallery">Gallery</router-link> | 
                    <router-link to="/news">News</router-link> | 
                    <router-link to="/about">About Us</router-link> | 
                    <router-link to="/videos">Videos</router-link> | 
                    <router-link to="/contact">Contact</router-link> | 
                    <router-link to="/donate">Donate</router-link>
                </div>

                <div class="column has-text-centered">
                    <p>Tiyeni is a registered UK Charity: No. 1113274.</p>
                    <p>Copyright &copy; The Tiyeni Fund 2015 - {{(new Date).getFullYear()}}.</p>
                    <p>All Rights Reserved.</p>
                    <p><router-link to="privacy-policy">Privacy Policy</router-link></p>
                </div>

                <div class="column">
                                        <div v-if="signup.done">

                        <div class="signup-message notification is-success">
                            <button class="delete" @click="reset"></button>
                            <h4 class="title is-4">Success</h4>
                            <p>You have signed up to our mailing list.</p>
                        </div>

                    </div>

                    <div v-else-if="signup.error">

                        <div class="signup-message notification is-danger">
                            <button class="delete" @click="reset"></button>
                            <h4 class="title is-4">Something went wrong :(</h4>
                            <p><a href="http://eepurl.com/dgVPFr" target="_blank" rel="noopener">Click here to join our mailing list.</a></p>
                        </div>

                    </div>


                    <form v-else @submit.prevent="submit">
                        <div class="field">
                            <label class="label">Subscribe to our newsletter</label>
                        </div>
                        <div class="field is-grouped">
                            <p class="control has-icons-left is-expanded">
                                <input class="input" type="email" placeholder="Email Address" v-model="email">
                                <span class="icon is-left">
                                    <fa-icon :icon="['far', 'envelope']" />
                                </span>
                            </p>
                            <p class="control">
                                <a class="button is-primary" :class="{ 'is-loading': signup.loading }">
                                    Sign Up
                                </a>
                            </p>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="container">
            <p class="has-text-right has-text-grey">built by <a href="mailto:craig@allardyce.me">allardyce</a></p>
        </div>
    </footer>
</template>
<script>
import axios from 'axios'
export default {
    data() {
        return {
            email: '',
            signup: {
                loading: false,
                done: false,
                error: false
            }
        }
    },
    methods: {
        submit() {
            this.signup.loading = true;

            axios.post('https://form.allardyce.me', { _id: '0iwscchxj3', email: this.email })
                .then(response => {
                    this.signup.done = true;
                })
                .catch(e => {
                    this.signup.error = true;
                })
        },
        reset() {
            this.email = '';
            this.signup.done = false;
            this.signup.error = false;
            this.signup.loading = false;
        }
    }
}
</script>
