<template>
    <div>
        <header class="header">
            <div class="header-content">
                <div class="social-icons">
                    <a href="https://twitter.com/TiyeniFarming" target="_blank" rel="noopener">
                        <span class="icon">
                            <fa-icon :icon="['fab', 'twitter']"/>
                        </span>
                    </a>
                    <a
                        href="https://www.facebook.com/Tiyeni-Malawi-1543073905984583"
                        target="_blank"
                        rel="noopener"
                    >
                        <span class="icon">
                            <fa-icon :icon="['fab', 'facebook']"/>
                        </span>
                    </a>
                </div>

                <h1>
                    <a href="/">
                        <logo class="logo"/>
                    </a>
                </h1>

                <h3 class="subtitle">Promoting sustainable farming methods in Malawi</h3>

                <div class="header-signup">
                    <div v-if="signup.done">
                        <div class="signup-message notification is-success">
                            <button class="delete" @click="reset"></button>
                            <h4 class="title is-4">Success</h4>
                            <p>You have signed up to our mailing list.</p>
                        </div>
                    </div>

                    <div v-else-if="signup.error">
                        <div class="signup-message notification is-danger">
                            <button class="delete" @click="reset"></button>
                            <h4 class="title is-4">Something went wrong :(</h4>
                            <p>
                                <a
                                    href="http://eepurl.com/dgVPFr"
                                    target="_blank"
                                    rel="noopener"
                                >Click here to join our mailing list.</a>
                            </p>
                        </div>
                    </div>

                    <form v-else @submit.prevent="submit">
                        <div class="field">
                            <label
                                class="label is-size-3-desktop has-text-light"
                            >Sign up to our Newsletter</label>
                        </div>
                        <div class="field has-addons has-addons-centered">
                            <div class="control">
                                <input
                                    class="input"
                                    type="email"
                                    placeholder="hello@email.org"
                                    v-model="email"
                                >
                            </div>
                            <div class="control">
                                <button
                                    class="button is-primary"
                                    :class="{ 'is-loading': signup.loading }"
                                >Sign Up</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <div class="navigation has-shadow-bottom">
            <div class="container">
                <div class="nav tabs is-fullwidth">
                    <ul>
                        <router-link tag="li" to="/" exact>
                            <a>Home</a>
                        </router-link>
                        <router-link tag="li" to="/method">
                            <a>Method</a>
                        </router-link>
                        <router-link tag="li" to="/gallery">
                            <a>Gallery</a>
                        </router-link>
                        <router-link tag="li" to="/news">
                            <a>News</a>
                        </router-link>
                        <router-link tag="li" to="/about">
                            <a>About Us</a>
                        </router-link>
                        <router-link tag="li" to="/videos">
                            <a>Videos</a>
                        </router-link>
                        <router-link tag="li" to="/contact">
                            <a>Contact</a>
                        </router-link>
                        <router-link tag="li" to="/donate">
                            <a>Donate</a>
                        </router-link>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            email: '',
            signup: {
                loading: false,
                done: false,
                error: false
            }
        };
    },
    methods: {
        submit() {
            this.signup.loading = true;

            axios
                .post('https://form.allardyce.me', {
                    _id: '0iwscchxj3',
                    email: this.email
                })
                .then(response => {
                    this.signup.done = true;
                })
                .catch(e => {
                    this.signup.error = true;
                });
        },
        reset() {
            this.email = '';
            this.signup.done = false;
            this.signup.error = false;
            this.signup.loading = false;
        }
    }
};
</script>


<style lang="scss">
@import '@/styles/_settings.scss';

.header {
    background: rgba($primary, 0.8) url('/img/banner-1.jpg') no-repeat center
        center;
    .header-content {
        text-align: center;

        .social-icons {
            text-align: right;
            padding: 1em 1em 0 1em;

            @include mobile {
                padding: 0.5em 0.5em 0 0;
            }

            a {
                color: $light;
                opacity: 0.8;
                margin-left: 1em;

                &:hover {
                    opacity: 1;
                }

                .icon {
                    font-size: 2rem;
                    @include mobile {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .logo {
            width: 60%;
            opacity: 0.8;
            margin: 0;
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
            @include mobile {
                width: 80%;
            }
        }

        .logo,
        .subtitle {
            color: $light;
            fill: $light;
        }

        .subtitle {
            font-size: 2vw;
            font-weight: $weight-normal;
            padding-bottom: 1em;
            margin-bottom: 0;

            @include mobile {
                font-size: 3vw;
                padding-bottom: 2em;
            }
        }

        .header-signup {
            display: none;

            @include mobile {
                .control .input,
                .button {
                    border-radius: 2px;
                    font-size: 0.75rem;
                }
            }

            .signup-message {
                max-width: 400px;
                margin: auto;
            }
        }

        // .header-button-0, .header-button-1 {
        //     font-size: 1.5rem;
        //     @include mobile {
        //         font-size: 1rem;
        //     }
        // }
        // .header-button-0 {
        //     margin-right: 1em;
        // }
    }
}

.page-home {
    .header {
        .header-content {
            padding-bottom: 6em;
            .social-icons {
                padding-bottom: 1em;
                a {
                    margin: 1em 0.5em 1em 1em;
                }
            }
            .logo {
                width: 80%;
                margin: 2em 0 1em 0;
            }
            .subtitle {
                font-size: 3vw;
                padding-bottom: 2em;
            }
            .header-signup {
                display: block;
            }
        }
    }
}

.navigation {
    > .container {
        padding-left: 0;
        padding-right: 0;
    }

    .nav {
        font-size: 1.5rem;
        @include mobile {
            font-size: 1rem;
        }
        ul {
            flex-wrap: wrap;
            justify-content: unset;
            flex-shrink: unset;
        }
    }
}
</style>
