<template>
    <div>
        <div class="pdf" ref="pdf"></div>
    </div>
</template>

<script>
    import PDFObject from 'pdfobject'

    export default {
        name: 'c-pdf',

        props: ['pdf'],

        mounted() {

            PDFObject.embed(this.pdf, this.$refs.pdf, {
                pdfOpenParams: {
                    view: 'FitX'
                }
            })

        }

    }
    
</script>

<style lang="scss">

    .pdf {
        height: 800px;
    }

</style>
