<template>
    <div v-if="registration" class="service-worker">
        <div class="service-worker-loading">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</template>

<script>
export default {

    data() {
        return {
            registration: null
        }
    },

    mounted() {

        //If the app has been updated via the Service Worker
        if (window.serviceWorkerReset) {
            window.serviceWorkerReset();
        }

        let self = this;

        this.$root.$on('sw-updatefound', () => {
            this.registration = true;
        });

        this.$root.$on('sw-cached', () => {
            if (this.registration) {
                this.registration = null;
            }
        });

        this.$root.$on('sw-updated', (registration) => {

            this.registration = registration;

            this.skipWaiting().then((data) => {

                //New application installed, fetch the fresh index.html
                fetch('/index.html')
                    .then(response => response.text())
                    .then(html => {

                        //Save current scroll position
                        let scroll = { x: scrollX, y: scrollY }

                        //This function runs when new Vue instance is mounted
                        window.serviceWorkerReset = () => {

                            window.scrollTo(scroll.x, scroll.y);

                            //Clean Up
                            self.$root.$destroy();
                            delete window.serviceWorkerReset;

                        }

                        document.open('text/html');

                        document.write(html);

                        document.close();

                    });

            });

        });

    },
    
    methods: {
        skipWaiting () {

            const worker = this.registration.waiting
            if (!worker) return Promise.resolve();

            return new Promise((resolve, reject) => {

                const channel = new MessageChannel()

                channel.port1.onmessage = (event) => {
                    if (event.data.error) {
                        reject(event.data.error)
                    } else {
                        resolve(event.data)
                    }
                }

                worker.postMessage({ type: 'skip-waiting' }, [ channel.port2 ])

            })
        }
    }
}
</script>

<style>

.service-worker {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.service-worker .service-worker-loading {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.service-worker .service-worker-loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #8cccc4;
    border-radius: 50%;
    animation: service-worker-loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #dfc transparent transparent transparent;
}

.service-worker .service-worker-loading div:nth-child(1) { animation-delay: -0.45s; }
.service-worker .service-worker-loading div:nth-child(2) { animation-delay: -0.3s; }
.service-worker .service-worker-loading div:nth-child(3) { animation-delay: -0.15s; }

@keyframes service-worker-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

</style>