<template>
    <div id="app" :class="`page-${$route.meta.name}`">

        <c-header />

        <router-view/>

        <c-footer />

        <service-worker />
    </div>
</template>

<script>

    import CHeader from '@/components/c-header';
    import CFooter from '@/components/c-footer';
    import ServiceWorker from '@/components/service-worker'

    export default {
        components: { CHeader, CFooter, ServiceWorker },
        name: 'App'
    }
</script>